[2020-08-13 10:52] takahirom opened #1 "resources"

[2021-02-11 08:23] takahirom opened #17 "Apply "Navigation Drawer" screen design"
## Overview (Required)
The title says everything.
Make it previewable(Prease add `@Preview` methods) and try to implement it paying attention to [state hoisting](https://developer.android.com/jetpack/compose/state#stateless-composables).
## Links
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
There are some parts where the design size is not accurate. Use 4dp * x si

[2021-02-11 08:23] takahirom opened #18 "Implement FakeViewModel and FakeViewModelTest for "Staff" screen"
## Overview (Required)
I want to make app "Testable & Previewable & Faster debug" as in https://github.com/DroidKaigi/conference-news-app-2021#testable--previewable--faster-debug .
That's why I want Fake to behave as much as possible with a real ViewModel. So add FakeViewModel and the corresponding tests.
## Links
https://github.com/DroidKaigi/conference-news-app-2021/blob/main/uicomponent-compose

[2021-02-11 08:23] takahirom opened #19 "Implement "Staff" screen without design"
Blocked by #18

## Overview (Required)
Since we need to display the information, we need to create classes for ViewModel, Repository, and API for that.
Please refer to the existing implementation and implement it.
This time there is no need for DB cache.
The API documentation can be found below.
## Links
https://droidkaigi.stoplight.io/docs/ssot-api/openapi/reference/external.v1.yaml

[2021-02-11 08:23] takahirom opened #20 "Apply "Staff" screen design"
Blocked by #18

## Overview (Required)
The title says everything.
Make it previewable(Prease add `@Preview` methods) and try to implement it paying attention to [state hoisting](https://developer.android.com/jetpack/compose/state#stateless-composables).
## Links
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
There are some parts where the design size is not accurate

[2021-02-12 00:27] takahirom opened #21 "Implement FakeViewModel and FakeViewModelTest for "Contributor" screen"
## Overview (Required)
I want to make app "Testable & Previewable & Faster debug" as in https://github.com/DroidKaigi/conference-news-app-2021#testable--previewable--faster-debug .
That's why I want Fake to behave as much as possible with a real ViewModel. So add FakeViewModel and the corresponding tests.
## Links
https://github.com/DroidKaigi/conference-news-app-2021/blob/main/uicomponent-compose

[2021-02-12 00:27] takahirom opened #22 "Implement "Contributor" screen without design"
Blocked by #21

## Overview (Required)
Since we need to display the information, we need to create classes for ViewModel, Repository, and API for that.
Please refer to the existing implementation and implement it.
This time there is no need for DB cache.
The API documentation can be found below.
## Links
https://droidkaigi.stoplight.io/docs/ssot-api/openapi/reference/external.v1.yaml

[2021-02-12 00:27] takahirom opened #23 "Apply "Contributor" screen design"
Blocked by #21

## Overview (Required)
The title says everything.
Make it previewable(Prease add `@Preview` methods) and try to implement it paying attention to [state hoisting](https://developer.android.com/jetpack/compose/state#stateless-composables).
## Links
(TBD)

[2021-02-12 00:27] takahirom opened #24 "Implement "About this app" screen without design"
## Overview (Required)
This screen does not require API communication, so please make sure that some elements are displayed.
Since the detailed design adaptation is another issue, please implement it as easily as possible without being particular about it.
## Links

[2021-02-12 00:27] takahirom opened #25 "Apply "About this app" screen design"
## Overview (Required)
The title says everything.
Make it previewable(Prease add `@Preview` methods) and try to implement it paying attention to [state hoisting](https://developer.android.com/jetpack/compose/state#stateless-composables).
## Links
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
There are some parts where the design size is not accurate. Use 4dp * x si

[2021-02-12 00:27] takahirom opened #26 "Implement "Settings" screen without design"
## Overview (Required)
I would like to consider what to put on the setting screen. Do you have any ideas?
For example, put a dark mode toggle.

## Links

[2021-02-12 00:27] takahirom opened #27 "Apply "Settings" screen design"
Blocked by  https://github.com/DroidKaigi/conference-app-2021/issues/26

## Overview (Required)
The title says everything.
Make it previewable(Prease add `@Preview` methods) and try to implement it paying attention to [state hoisting](https://developer.android.com/jetpack/compose/state#stateless-composables).
## Links
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
T

[2021-02-14 06:16] jmatsu opened #28 "Set up gitignore properly"
The current gitignore configuration is not enough for OSS.

[2021-02-15 00:57] takahirom opened #36 "Make tabs scrollable"
## Kind (Required)

- Improvement

 ## Overview (Required)
News and other screens have tabs, but they can't be scrolled. Make it scrollable like a design

![image](https://user-images.githubusercontent.com/1386930/107894745-fe1a7100-6f73-11eb-8ce5-c0645c902e67.png)

 ## Links

-

[2021-02-15 01:00] takahirom opened #37 "Increase the size of the first item on the Home tab."
## Kind (Required)

- Improvement

## Overview (Required)

- The title says everything

![image](https://user-images.githubusercontent.com/1386930/107894900-97e21e00-6f74-11eb-9ef4-a6a02c22057d.png)

 ## Links

https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
There are some parts where the design size is not accurate. Use 4dp * x size and similar Material components.

[2021-02-15 01:04] takahirom opened #38 "Dark mode"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Currently there is no dark mode design. Can someone give it a try? 🌔

 ## Links

https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
There are some parts where the design size is not accurate. Use 4dp * x size and similar Material components.
Please log in to see the size on the design.

[2021-02-15 01:09] takahirom opened #39 "iOS App"
Blocked by #76 #69

## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- If possible, I would like to implement the API and DB and model with the server using a common one.
- Probably we should separate issues.

 ## Links

-

[2021-02-15 01:11] takahirom opened #40 "Compose Desktop"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- It may be difficult due to navigation etc., but is there anyone who wants to challenge?

 ## Links

- "Fix Using AndroidX Compose specific dependencies for Android target"
- https://github.com/JetBrains/compose-jb/blob/master/CHANGELOG.md#m3

[2021-02-15 01:16] takahirom opened #41 "Support push notifications"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please support firebase push.
- Please put the token to the server with onNewToken.

 ## Links

- https://firebase.google.com/docs/cloud-messaging/android/client
- https://droidkaigi.stoplight.io/docs/ssot-api/openapi/reference/external.v1.yaml/paths/~1devices~1%7BdeviceId%7D/put

[2021-02-18 03:01] jmatsu opened #45 "Needs to set up a diff report tool, but it should use any alternative to the current Reviewdog action"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The current workflow configuration does not work for pull requests from contributors due to a token's permission
- The current reviewdog action is built on a Docker action, but only Linux can use Docker actions.

 ## Links

-

[2021-02-20 08:05] takahirom opened #57 "Introduce AffectedModuleDetector"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- I think that if you use AffectedModuleDetector, you can test only the affected part.
- It may be possible to shorten the test time by introducing it.
- Can we use it for testing?
-

 ## Links

- https://github.com/dropbox/AffectedModuleDetector

[2021-02-20 08:08] takahirom opened #58 "Use SQLDelight to cache feeds"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently this app only holds the cache in the ViewModel. I want to cache using DB.

 ## Links

- https://github.com/cashapp/sqldelight

[2021-02-20 08:14] takahirom opened #59 "Fix lint task"
**Overview (Required)**
- Lint is not working

**Steps To Reproduce**

./gradlew lintDebug

**Expected behavior**
Success build

[2021-02-21 04:12] takahirom opened #63 "Use Arbor for logging library"
## Kind (Required)

- Improvement

 ## Overview (Required)

- In this project, println is used as a log in the context of Kotlin Multiplatform.
- It seems that this library can be used on Kotlin Multiplatform like Timber, so I would like to use it.

 ## Links

- https://github.com/ToxicBakery/Arbor

[2021-02-21 05:12] takahirom opened #65 "Move compose dependencies to Dep.kt"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There are some parts that specify direct compose dependencies, so I want to put them together in Dep.kt.

 ## Links

-  https://github.com/DroidKaigi/conference-app-2021/blob/d45ad777f4b29efa9867052df80e2b50dcabeeaa/uicomponent-compose/main/build.gradle#L70-L78
- https://github.com/DroidKaigi/conference-app-2021/blob/be4293122b884513b9a

[2021-02-21 05:50] jmatsu opened #66 "Hook a pull request closed event through workflow_run"
## Kind (Required)

- Improvement

 ## Overview (Required)

- pull_request_target seems not to be fired when a pr is closed (it's documented as *works* though)
- workflow_run w/ pull_request#closed is the alternative for this purpose

 ## Links

-

[2021-02-21 06:07] takahirom opened #67 "Fetch survey data"
## Kind (Required)

- Improvement

 ## Overview (Required)

- At DroidKaigi, I would like to ask you about your favorite library in a survey.
- In the staging environment, you need to use the following settings in the firebase remote config.
- There is no need to adapt the design this time, please implement it in the State of ViewModel.
- It may be better to implement it as a separate repository,

[2021-02-21 06:11] takahirom opened #68 "Move AndroidX dependencies to Dep.kt"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There are some parts that specify direct compose dependencies, so I want to put them together in Dep.kt.
- However, do not replace the compose dependency as it will be done in #65 .

 ## Links

-

[2021-02-21 06:21] #24 closed, assigned to nobody

[2021-02-21 06:35] takahirom opened #69 "Make the API module work on iOS"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, adding an iOS target in the Kotlin Multiplatform settings will prevent code completion on the IDE. Probably a problem with GitLiveApp/firebase-kotlin-sdk.
- I want to solve this problem and enable iOS targeting.

 ## Links

-

[2021-02-21 06:47] takahirom opened #70 "Can we implement robot item? 🤖"
## Kind (Required)

- Improvement

 ## Overview (Required)

When the size of the article list is larger than the size of the screen, robot is displayed as the last item.

![image](https://user-images.githubusercontent.com/1386930/108617628-5ad9c800-745b-11eb-9bda-987ea66312a5.png)

 ## Links

-

[2021-02-21 06:55] takahirom opened #71 "The title and content of the tab do not match"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The mapping is reversed, please correct it.
![image](https://user-images.githubusercontent.com/1386930/108617906-2bc45600-745d-11eb-9864-0a04e88311f3.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/f6d311de4fb522d412f5786022474305b7048ac0/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/KtorFeedA

[2021-02-21 07:26] takahirom opened #72 "Fix order of contents"
**Overview (Required)**
- The current content order is the oldest, but it should be the newest.

**Steps To Reproduce**

1. Go to 'Home'

**Expected behavior**
A new article is displayed at the top.

**Screenshots**
![image](https://user-images.githubusercontent.com/1386930/108618432-73e57780-7461-11eb-97f4-42653c28114a.png)

**Additional context**
https://github.com/DroidKaigi/conference-app-2021

[2021-02-21 07:35] takahirom opened #73 "Use app icon from 2020 app"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It may change, but at first, I am considering copying the 2020 icon and using it.

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/tree/master/android-base/src/main/res

[2021-02-21 07:44] takahirom opened #74 "Add icon to README"
Blocked by #73

## Kind (Required)

- Improvement

 ## Overview (Required)

- It looks like a README for the 2020 app.

 ## Links

- https://github.com/DroidKaigi/conference-app-2020

[2021-02-21 07:49] takahirom opened #75 "Switch API domain between production and develop"
## Kind (Required)

- Other

 ## Overview (Required)

- Is there a good way to use it with Kotlin Multiplatform?

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/AuthApi.kt#L46
- https://github.com/DroidKaigi/conference-app-2021/blob/main/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/KtorFeed

[2021-02-21 07:55] takahirom opened #76 "Make the DB module work on iOS"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add an iOS target and try the KeychainSettings or AppleSettings implementation of russhwolf/multiplatform-settings.

 ## Links

- https://github.com/russhwolf/multiplatform-settings#apple-keychain

[2021-02-21 08:00] takahirom opened #77 "Transit to chrome custom tab using navigation component"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, I'm doing something with context, but it doesn't seem to be a good way.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/610ad01d00a673211e9bcef716762c367cdb53d6/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/AppContent.kt#L59-L65

[2021-02-21 08:08] takahirom opened #78 "Proguard"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Make the appropriate proguard settings and enable obfuscation and optimization.

 ## Links

-

[2021-02-21 08:11] takahirom opened #79 "Transition animation when switching tab content"
## Kind (Required)

- Improvement

 ## Overview (Required)
- According to Material Design's motion system, this app should use Fade through in such cases.

 ## Links

- https://material.io/design/motion/the-motion-system.html#fade-through

[2021-02-21 08:19] takahirom opened #80 "Fix deprecated function call of imageResource()"
## Kind (Required)

- Improvement

 ## Overview (Required)

- That warning says `Use painterResource instead`

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/d45ad777f4b29efa9867052df80e2b50dcabeeaa/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/LandingScreen.kt#L25

[2021-02-21 08:22] takahirom opened #81 "Search feature by cache"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- Nothing has been decided about this feature, but does anyone have any ideas on where and how to do it?

 ## Links

-

[2021-02-22 00:31] takahirom opened #82 "Test for Compose layout"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Try testing against FeedScreen or FeedItem.
- You can use Fake ViewModel if you need it.

 ## Links

- https://developer.android.com/jetpack/compose/testing

[2021-02-22 00:53] takahirom opened #83 "Fix drawer navigation of settings"
**Overview (Required)**
- When you select settings from the navigation drawer, it will transition to about this app without transitioning to settings.

**Steps To Reproduce**

1. Go to 'Navigation Drawer'
2. Click on 'Settings'
4. About tab is selected

**Expected behavior**
Show settings tab

**Screenshots**

https://user-images.githubusercontent.com/1386930/108644691-74c6e980-74f3-11eb-8eca-94e0

[2021-02-22 00:59] takahirom opened #84 "Rename deprecated "Ambient" naming to "Local""
## Kind (Required)

- Improvement

 ## Overview (Required)

- The name has changed in recent versions of Compose.
![image](https://user-images.githubusercontent.com/1386930/108645003-8f4d9280-74f4-11eb-8b37-37c011957d4c.png)

 ## Links

-

[2021-02-22 01:09] takahirom opened #85 "Prevent backdrop from moving up and down on other screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

https://user-images.githubusercontent.com/1386930/108645294-bce70b80-74f5-11eb-81ea-ff6683fb600a.mp4

- On other screens, I don't want to move the backdrop because there is no content even if I lower the backdrop down. Now it goes up and down 1dp.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compos

[2021-02-23 08:27] takahirom opened #86 "Change app name to DroidKaigi 2021"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now the name is conference-app-2020, but the correct name is DroidKaigi 2021.

 ## Links

-

[2021-02-23 08:42] takahirom opened #87 "Animate the frame to move when a tab is selected"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Perhaps this is very difficult, but can you animate this corner cut frame to move?

![image](https://user-images.githubusercontent.com/1386930/108819312-0c186380-75fe-11eb-976d-b97f2f00b232.png)

 ## Links

-

[2021-02-23 08:52] takahirom opened #88 "Prototype image scale type"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Designers seem to be worried about image proportions.
I think the feed image of this app is center crop now, but I would like to try patterns such as center inside, take screenshots, ask the designer for a good pattern, and implement it.

 ## Links

-
![image](https://user-images.githubusercontent.com/1386930/108820680-e55b2c80-75ff-11e

[2021-02-23 09:19] takahirom opened #89 "Change heart position"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  Apparently, the position of the heart should be aligned with the bottom of the image.
![image](https://user-images.githubusercontent.com/1386930/108823156-6667f300-7603-11eb-9e30-8d2e4aa86fe1.png)

![image](https://user-images.githubusercontent.com/1386930/108823331-9e6f3600-7603-11eb-9414-3a747a7b77ec.png)

 ## Links

-

[2021-02-23 09:28] takahirom opened #90 "Change date color and size of feed"
## Kind (Required)

- Improvement

 ## Overview (Required)

- currently
![image](https://user-images.githubusercontent.com/1386930/108824370-f8243000-7604-11eb-84a4-d1aa642e66a8.png)

- design
![image](https://user-images.githubusercontent.com/1386930/108823958-792ef780-7604-11eb-9818-b6ddf40bf6b7.png)

 ## Links

-

[2021-02-23 09:57] takahirom opened #91 "Try Flipper"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I've never used it, but I heard it's a good library.
- Probably should we use OkHttp engline?
- https://github.com/DroidKaigi/conference-app-2021/blob/be4293122b884513b9aa02f088965a85832742e5/data/api/src/main/java/io/github/droidkaigi/feeder/data/ApiModule.kt#L25

 ## Links
- https://fbflipper.com/

[2021-02-23 10:05] takahirom opened #92 "Layout inspector support for Compose"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - Probably we can add it support by this.
 - Can you add and check it?

[code]

 ## Links

- https://developer.android.com/studio/preview/features#compose-layout-inspector

[2021-02-23 10:06] #1 closed, assigned to nobody

[2021-02-23 10:51] takahirom opened #93 "Sometimes socket timeouts occur"
**Overview (Required)**
- The titile says everything

**Steps To Reproduce**

There is no exact step, but it seems to happen when the app is restarted.

[code]

**Env:**
 - Device: Pixel3
 - OS: 11
 - master

[2021-02-24 01:29] takahirom opened #94 "Separate Ktor settings from platform-specific and common"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Right now I'm making it below, but this is code that is only used on Android and should be shared on Multiplatform.

https://github.com/DroidKaigi/conference-app-2021/blob/be4293122b884513b9aa02f088965a85832742e5/data/api/src/main/java/io/github/droidkaigi/feeder/data/ApiModule.kt#L23-L51

- For example, if you can pass platform-specifi

[2021-02-25 11:46] jmatsu opened #96 "Polish README for contributors"
## Kind (Required)

- Improvement

 ## Overview (Required)

- README looks so fat. For example, a showcase of tech stacks in README sounds nice but the detailed explanation of app architecture should be `ARCHITECTURE.md`.

 ## Links

-

[2021-02-27 03:40] #84 closed, assigned to nobody

[2021-02-27 03:40] #80 closed, assigned to nobody

[2021-02-27 03:50] takahirom opened #98 "Improve accecibility"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add a content description for images

 ## Links

-  https://developer.android.com/jetpack/compose/accessibility

[2021-02-27 04:12] takahirom opened #100 "Fix status bar transparent"
## Kind (Required)
- Improvement

 ## Overview (Required)

-  Currently
![image](https://user-images.githubusercontent.com/1386930/109375076-42572b00-78fd-11eb-8dc8-0d947c280a3e.png)

- DroidKaigi 2020
![image](https://user-images.githubusercontent.com/1386930/109375091-56029180-78fd-11eb-89e9-109c76d89acf.png)

 ## Links

-

[2021-02-27 04:22] takahirom opened #101 "Show DroidKaigi logo instead of Toolbar text"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/109375239-b219e580-78fe-11eb-97c7-41500fbf6247.png)
![image](https://user-images.githubusercontent.com/1386930/109375254-c6f67900-78fe-11eb-835d-02f5f2b4e436.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=0%3A1

[2021-02-27 04:30] takahirom opened #102 "Fix divider"
## Kind (Required)

- Improvement

 ## Overview (Required)

current
-
![image](https://user-images.githubusercontent.com/1386930/109375406-dcb86e00-78ff-11eb-8cb7-fb8ea8df1f5d.png)

design
-
![image](https://user-images.githubusercontent.com/1386930/109375413-e80b9980-78ff-11eb-9674-beb6d5445ec7.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-

[2021-02-27 04:42] takahirom opened #103 "Use painterResource() instead of ImageBitmap.imageResource() and ImageVector.vectorResource()"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably, the painter seems to be better because you don't have to be aware of either vector or bitmap.

 ## Links

-

[2021-02-27 04:45] takahirom opened #104 "Fix package staff instead of core for staff screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  the title says everything
- Please move it and change package

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/tree/01b8b31305199243344357375ddd3469bf314340/uicomponent-compose/other/src/main/java/io/github/droidkaigi/feeder/core

[2021-02-27 04:47] takahirom opened #105 "Show placeholder android robot for placeholder"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/109375731-5c473c80-7902-11eb-87d8-ff1cf57b951c.png)

 ## Links

-

[2021-02-27 04:55] takahirom opened #106 "Add open source license screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This screen is placed in the following location.
- https://github.com/DroidKaigi/conference-app-2021/issues/260
- You don't need to put a link on the about screen for this development.

 ## Links

-

[2021-02-27 05:00] takahirom opened #107 "Add Japanese translation for error messages"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add Japanese resource for errors

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/1ee1164b9bcdf6bc0cdedbe2933fa6d4e2913436/uicomponent-compose/core/src/main/res/values/strings.xml#L3

[2021-02-27 05:04] takahirom opened #108 "Implement ProgressTimeLatch for Compose"
## Kind (Required)

- Improvement

 ## Overview (Required)

- ProgressTimeLatch prevents the progress bar from flickering. Please search for more information.

 ## Links

-

[2021-02-27 05:10] takahirom opened #109 "Cool animation for splash screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Do you have any ideas? 😄

 ## Links

-

[2021-02-27 05:12] takahirom opened #110 "Update Ktor version"
## Kind (Required)

- Improvement

 ## Overview (Required)

- https://ktor.io/changelog/1.5/

 ## Links

-

[2021-02-27 05:19] takahirom opened #111 "Use Action model pattern for navigation"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This is the implementation pattern in compose-sample.

 ## Links

- https://github.com/android/compose-samples/blob/2cff65334ea023956a58f215a13b6a55c7e1e18f/Owl/app/src/main/java/com/example/owl/ui/NavGraph.kt#L75

[2021-02-27 05:25] takahirom opened #112 "Reload button for error snackbar"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to reload in case of an error

 ## Links

-

[2021-02-27 05:30] takahirom opened #113 "Scroll up when you press a tab"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It seems that we need to communicate the event well

 ## Links

-

[2021-02-27 05:32] takahirom opened #114 "Add "Kaigi" to IDE dictionary"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/109376558-a03d4000-7908-11eb-99f5-031fb0336474.png)

 ## Links

-

[2021-02-27 05:36] takahirom opened #115 "Show speaker icon for droidkaigi fm"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can use icons!  ![image](https://user-images.githubusercontent.com/1386930/109376607-0e820280-7909-11eb-932c-002186e46faa.png)
 - design
![image](https://user-images.githubusercontent.com/1386930/109376619-2c4f6780-7909-11eb-9bcd-a02ab682cfec.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_officia

[2021-02-27 05:42] takahirom opened #116 "Select thumbnail by size"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can use three thumbnail sizes. But we are always using `standardUrl`.
![image](https://user-images.githubusercontent.com/1386930/109376644-6882c800-7909-11eb-8a46-72c808ac277c.png)

 ## Links

-

[2021-02-27 05:46] takahirom opened #117 "Delete duplicate code"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I have specified the width twice, but it should be enough once.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/01b8b31305199243344357375ddd3469bf314340/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedItem.kt#L79-L80

[2021-02-27 05:51] takahirom opened #118 "Bundle DroidKaigi FM in app"
## Kind (Required)

- Improvement

 ## Overview (Required)
 - Can we play it in the app?
 - The mp3 url seems to have regularity and may be usable.
 - https://droidkaigi.jp/fm/audio/droidkaigi-fm_6.mp3

 ## Links

-

[2021-02-27 06:01] mhidaka opened #119 "Set a projcet icon for our Android Studio project"
## Kind (Required)

- Other

 ## Overview (Required)

-  we are looking for a contributor to set a project icon on an Android Studio project to make it easier for better visibility.

 ## Links

- [How to set a project icon](https://qiita.com/ryo_mm2d/items/ad60dfc8491bb57f3522)
- [Visual Identity](https://github.com/DroidKaigi/visual-identity/)
  - [DroidKaigi Icon](https://github.com/DroidKaigi/v

[2021-02-27 06:15] takahirom opened #120 "Define shape theming"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Right now it is defined for each widget, but it should be possible to set it with theme.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/610ad01d00a673211e9bcef716762c367cdb53d6/uicomponent-compose/core/src/main/java/io/github/droidkaigi/feeder/core/theme/Shape.kt#L8

[2021-02-27 08:38] takahirom opened #121 "Use MultiLangText model for title and summary"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now FeedItem has a value as a string, but I want to use MultiLangText because it can contain content in multiple languages.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/f6d311de4fb522d412f5786022474305b7048ac0/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/KtorFeedApi.kt#L47-L50

[2021-02-27 08:47] takahirom opened #122 "Apply `gradle/android.gradle` from uicomponent-compose modules"
## Kind (Required)

- Improvement

 ## Overview (Required)

- By applying this, you don't have to write each module every time.

 ## Links

-

[2021-02-27 08:49] takahirom opened #123 "Delete this configurations settings"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - I added it because I couldn't compile it in the old version, but it may be fixed.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/3893153cac926f86296b617dd51933229c89201a/gradle/android.gradle#L11-L18

[2021-02-27 08:53] takahirom opened #124 "Delete unneeded namespace"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/109382579-9a555800-7924-11eb-8cf2-a312c06aac6b.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/d45ad777f4b29efa9867052df80e2b50dcabeeaa/uicomponent-compose/other/src/main/AndroidManifest.xml#L2

[2021-02-27 08:54] takahirom opened #125 "Disable BuildConfig generate for compile time"
## Kind (Required)

- Improvement

 ## Overview (Required)

- If there is BuildConfig, the Java compilation will run, so I want to eliminate BuildConfig in the module.

 ## Links

-

[2021-02-27 10:00] takahirom opened #126 "Keep the splash screen finished through screen rotation"
## Kind (Required)

- Improvement

https://user-images.githubusercontent.com/1386930/109384087-d6d98180-792d-11eb-94a6-fe8e0ef79413.mp4

 ## Overview (Required)

- Probably we can use savedInstanceState for this

 ## Links
- https://developer.android.com/jetpack/compose/state#restore-ui-state

[2021-02-27 10:03] takahirom opened #127 "Keep selected tab through screen rotation"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Since this is the state of FeedScreen, it may be possible to keep it in ViewModel

 ## Links

-

[2021-02-27 13:29] jmatsu opened #131 "Don't emit an error when an API that creates an account returns 409"
## Kind (Required)

- Improvement

 ## Overview (Required)

- `POST /accounts` returns 409 if the user already exist on the server-side, so it's okay to suppress it and pass through the process.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/03d10c3b3f8414e18a7173ad4c15b8b4a057d2c7/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/AuthApi.kt#L45

[2021-02-27 16:35] #66 closed, assigned to nobody

[2021-02-28 02:04] NUmeroAndDev commented on #120
🙋

[2021-02-28 02:09] takahirom commented on #120
Thanks!Assigned🙏
You are first contributor!!🥇

[2021-02-28 02:19] Dai1678 commented on #86
@takahirom
I will try this issue!

[2021-02-28 02:20] takahirom commented on #86
Thank you for fast taking issue!!🚀 Assigned!

[2021-02-28 02:32] adakoda opened #144 "Build error : FakeNewsViewModel.kt: (46, 13): @exhaustive when is not exhaustive"
**Overview (Required)**
- Build error : FakeNewsViewModel.kt: (46, 13): @Exhaustive when is not exhaustive

**Steps To Reproduce**

1. Check out repository which version is 393f8ab57b8fdedee1c7c3393f50a61eb75bc543 2021/02/28 10:33:52
2. Build
3. Build will be failed. The messeage is bellow.
[code]

**Expected behavior**

- Build success.
- When I added following place holder, Build was succeded.
[

[2021-02-28 02:39] adakoda commented on #144
One more things... (Same reasson: It seems that OnHideSnackbarMessage should be implemented.)

[code]

[2021-02-28 02:48] #120 closed

[2021-02-28 02:50] #86 closed

[2021-02-28 02:53] takahirom commented on #144
The file (FakeNewsViewModel.kt) should have been deleted... 👀
https://github.com/DroidKaigi/conference-app-2021/tree/main/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder

[2021-02-28 02:56] takahirom commented on #144
Maybe you can see the old files for some reason? 💭

[2021-02-28 03:08] Dai1678 commented on #17
@takahirom
I will try this issue!

[2021-02-28 03:11] takahirom commented on #17
Thanks!  The navigation drawer is also an important feature you often see! Assigned!🙌

[2021-02-28 03:13] NUmeroAndDev commented on #36
🙋

[2021-02-28 03:15] takahirom commented on #36
Thanks! Assigned! 📜

[2021-02-28 03:17] adakoda commented on #144
You are right.

I checked out the latest version again (28b8fc89d750b8b8a2e987b02450e52bdc37da06 2021/02/28 11:50:06), There is nothing problem.

Probably this issue was cause by my mistakes...

[2021-02-28 03:17] #144 closed

[2021-02-28 03:19] takahirom commented on #144
Thank you for tryng!!🙌

[2021-02-28 04:03] Pluu commented on #103
🙋‍♂️

[2021-02-28 04:07] #36 closed

[2021-02-28 04:08] takahirom commented on #103
Thanks as always! Assigned!

[2021-02-28 04:36] hotatekaoru commented on #25
🙋‍♂️
I want to challenge Jetpack Compose 💪

[2021-02-28 04:40] takahirom commented on #25
Thank you for challenging!!🙏

[2021-02-28 04:41] mhidaka commented on #25
Thanks, Go ahead!

[2021-02-28 04:49] #103 closed

[2021-02-28 05:15] Pluu commented on #83
🙋‍♂️

Is it okay to set the routepath key to `setting`?

[2021-02-28 05:17] souta0104 commented on #89
🖐

[2021-02-28 05:21] takahirom commented on #83
OK!
Thanks! Assigned!

[2021-02-28 05:22] takahirom commented on #89
Thanks! Assigned!

[2021-02-28 05:29] ue-moo commented on #114
🙋‍♂️

[2021-02-28 05:36] RyuNen344 commented on #41
@takahirom
if only android app, I wanna try this!

[2021-02-28 05:41] RyuNen344 commented on #131
@jmatsu
i wanna try this(sorry for lately mention....)

[2021-02-28 05:43] takahirom commented on #114
Thanks! Assigned 📚

[2021-02-28 05:49] #83 closed

[2021-02-28 05:54] takahirom commented on #41
This issue is for the android app only! 👍 Assigned 🤖

[2021-02-28 05:55] #131 closed

[2021-02-28 06:00] ked4ma commented on #124
i'll try it!!

[2021-02-28 06:01] takahirom commented on #124
Thanks! 🙌

[2021-02-28 06:21] takahirom commented on #125
You don't have to change the android module.

[2021-02-28 06:24] nanaten commented on #117
🙋‍♀️

[2021-02-28 06:25] Dai1678 commented on #17
@takahirom
Could I download icons at 24dp from Figma?
Some of the icons can be used from Vector Asset in Android Studio, but for example the podcast icons are original and should be downloaded from Figma.
I'm not used to using Figma, so please let me know.

[2021-02-28 06:25] takahirom commented on #117
Thanks! I think this is the easiest issue 😄

[2021-02-28 06:25] takahirom commented on #17
👀

[2021-02-28 06:29] takahirom commented on #17
Probably you can export SVG and it can import from Android Studio 👀
Maybe you need to log in?
![image](https://user-images.githubusercontent.com/1386930/109409861-799b0a00-79d9-11eb-82c3-f08483fd5d1f.png)

[2021-02-28 06:36] kkt-yu commented on #119
🙋‍♂️

[2021-02-28 06:38] takahirom commented on #119
Thanks! Assigned 🎨

[2021-02-28 06:44] Dai1678 commented on #17
I logged in to Figma and I can find icon.
But when I press the Export button, show Export failed.

<img width="1274" alt="スクリーンショット 2021-02-28 15 37 22" src="https://user-images.githubusercontent.com/19250035/109410084-0a261a00-79db-11eb-8e35-4758bdeefd12.png">

I was able to export the data named `Vector`, but the sizes are different.
I would like to have the icon data sliced at 24dp×24dp if poss

[2021-02-28 06:45] takahirom commented on #17
👀

[2021-02-28 06:51] #89 closed

[2021-02-28 06:51] takahirom commented on #17
If you use Android Vector Drawable, it may be faster to download it from the following. You need to make sure it's the same design, but it seems faster than calling a designer. 🙇
https://material.io/resources/icons/?style=baseline

[2021-02-28 06:52] #119 closed

[2021-02-28 06:56] #124 closed

[2021-02-28 07:03] Dai1678 commented on #17
The following icons have already been downloaded from Android Vector Drawable and they work fine.
- android icon
- contributor icon
- staff icon
- settings icon
- home icon (already exist in project)

However, these icons were not available in the Android Vector Drawable
- blog icon
- video icon
- podcast icon

Will icon datas be updated?

[2021-02-28 07:04] mune0903 commented on #110
🙋‍♂️

[2021-02-28 07:06] tomoya0x00 commented on #110
Thanks! We assigned this issue to you.

[2021-02-28 07:12] takahirom commented on #17
How about doing the following?
1 Implement that part empty and merge.
2 I contact the designer and apply the image as another issue.

[2021-02-28 07:13] #117 closed

[2021-02-28 07:15] Dai1678 commented on #17
OK!  I'll continue with the implementation.

[2021-02-28 07:25] shoheikawano commented on #123
My personal project (with Kotlin version 1.4.31) has the same issue as well; I assume that this is the issue: https://youtrack.jetbrains.com/issue/KT-43944, and if so, it will be fixed in Kotlin 1.5.0?

[2021-02-28 07:25] takahirom commented on #17
@nontan Hello! I want to export the following 24dp x 24dp svg image. Do you know how to do it with Figma?
blog icon
video icon
podcast icon

[2021-02-28 07:27] takahirom commented on #123
Thank you for the information. 👍  Let's wait for it to be fixed.

[2021-02-28 07:35] takahirom commented on #17
It seems that 16x20 svg images can be downloaded now.
![image](https://user-images.githubusercontent.com/1386930/109411043-840dd180-79e2-11eb-8312-be97cf050bdc.png)

[2021-02-28 07:36] ked4ma commented on #111
I try tackle to this issue!

[2021-02-28 07:38] takahirom commented on #111
Thank you for your tackling 🔥

[2021-02-28 07:59] #110 closed

[2021-02-28 08:04] #114 closed

[2021-02-28 08:24] #17 closed

[2021-02-28 08:37] ked4ma commented on #107
:raising_hand:

[2021-02-28 08:37] takahirom commented on #107
Thanks! Assigned 👍

[2021-02-28 08:43] Dai1678 opened #163 "Highlighted item in Navigation Drawer according to the currently selected destination"
## Kind (Required)

- Improvement

 ## Overview (Required)
Now the Home item is always highlighted in Navigation Drawer.

<img src="https://user-images.githubusercontent.com/19250035/109411386-13b47f80-79e5-11eb-81d7-345ce0dae439.gif" width=300>

How about making it the item is highlighted according to the currently selected destination?
For example, this is what the DroidKaigi2020 app looks like.

[2021-02-28 08:44] Dai1678 commented on #163
@takahirom
Can you please check this issue?
I'd like to try if everything is ok.

[2021-02-28 08:45] takahirom commented on #163
Thank you for opening the issue! OK! Please try it 👍

[2021-02-28 08:53] #107 closed

[2021-02-28 08:58] #111 closed

[2021-02-28 09:00] blackbracken commented on #121
I will try this issue. @takahirom

[2021-02-28 09:01] takahirom commented on #121
Thanks! Assigned 👍 If you have any questions, please tell me!

[2021-02-28 09:07] mune0903 commented on #98
🙋‍♂️
I want to try Accessibility in Compose!

[2021-02-28 09:08] takahirom opened #165 "Use Preview○○ for BackLayerContent Preview"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to unify the naming convention for Preview method names.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/8750f69558fb71383c958421236d71ffa05e27a5/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/BackLayerContent.kt#L73

[2021-02-28 09:09] takahirom commented on #98
Thanks! If you have any questions, please tell me! 😄

[2021-02-28 09:14] takahirom commented on #39
This issue is too big to be disassembled. 👀

[2021-02-28 09:14] #39 closed

[2021-02-28 09:16] takahirom opened #166 "Create blank iOS App project"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I'm not familiar with iOS apps, but I'd like to have an app base that uses the Swfit UI. At this point, it's okay if "Hello world" is displayed in the Swift UI.

 ## Links

-

[2021-02-28 09:24] ttanaka330 commented on #102
🙋‍♂️

[2021-02-28 09:25] takahirom commented on #102
Thanks! Assigned 👍

[2021-02-28 09:30] blackbracken commented on #121
Some texts are either Japanese or English language only, so would it be okay if I translate it?

[2021-02-28 09:36] warahiko commented on #90
🙋

[2021-02-28 09:41] tomoya0x00 commented on #90
Thanks! Assigned! 🙇

[2021-02-28 09:50] #102 closed

[2021-02-28 09:55] takahirom commented on #121
Since the API is also under development, please develop without worrying about the contents of the API. 👍
The PR developer for this issue does not need to translate the wording. 😄

[2021-02-28 09:57] YuheiKawakami commented on #65
I'll try it 🙋‍♂️

[2021-02-28 09:59] takahirom commented on #65
Thank you! Assigned 👍

[2021-02-28 10:03] kumamotone commented on #72
✋

[2021-02-28 10:09] takahirom commented on #72
Thanks! This is important bug for feeder app😇

[2021-02-28 10:17] a25max commented on #100
I want to try it. 🙋‍♂️

[2021-02-28 10:18] tomoya0x00 commented on #100
Thanks! Assigned 👍

[2021-02-28 10:32] #121 closed

[2021-02-28 11:09] #90 closed

[2021-02-28 11:33] #98 closed

[2021-02-28 11:34] gibachan commented on #71
🙋

[2021-02-28 11:36] tomoya0x00 commented on #71
Thanks! We're looking forward to your PR!

[2021-02-28 11:51] tomoya0x00 opened #174 "Handling about MultiLangText model"
## Kind (Required)

- Improvement

 ## Overview (Required)

We've introduced MultiLangText to handle multi-language.
But we don't support displaying English text yet.

https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedItem.kt#L91

 ## Links

We can reference a implementation of the previous version of the confere

[2021-02-28 11:59] #25 closed

[2021-02-28 12:13] hotatekaoru opened #177 "Post DroidKaigi logo image to "About This App" screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Post DroidKaigi logo image to "About This App" screen and fix TODO comment

 ## Links
- Figma: https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=0%3A1
<img width="338" alt="スクリーンショット 2021-02-28 21 09 50" src="https://user-images.githubusercontent.com/5081402/109417986-512b0400-7a09-11eb-8292-8df2e503

[2021-02-28 12:19] #71 closed

[2021-02-28 13:01] kaleidot725 commented on #165
🙋‍♂️

[2021-02-28 13:01] tomoya0x00 commented on #165
Thanks! Assigned 👍

[2021-02-28 13:33] #165 closed

[2021-02-28 13:38] hiesiea commented on #37
🙋

[2021-02-28 13:39] tomoya0x00 commented on #37
Thanks! Assigned 👍

[2021-02-28 13:39] #72 closed

[2021-02-28 13:53] tkmusic1976 commented on #125
I wanna try it ✋

[2021-02-28 13:57] takahirom commented on #125
Thanks! Assigned!

[2021-02-28 14:10] Dai1678 opened #180 "Highlighted drawer item when you clicked Tab item"
Blocked by #163

## Kind (Required)

Choose the suitable template if exists.

- Improvement

 ## Overview (Required)

- I have implemented #175  so that clicking on a Drawer item will highlight it.
- However, when I click on tab, drawer item is not highlighted correctly.

<img src="https://user-images.githubusercontent.com/19250035/109417800-73705200-7a08-11eb-8939-eedf6c5d3f24.gif" width=300>

Sh

[2021-02-28 14:18] Index197511 commented on #68
🙋‍♂️

[2021-02-28 14:29] takahirom commented on #68
Thanks!Assigned!

[2021-02-28 14:30] #163 closed

[2021-02-28 14:32] #65 closed

[2021-02-28 15:10] mightyfrog commented on #104
I'll take care of this.

[2021-02-28 15:10] RyuNen344 opened #181 "Create API and Reposiotry for FCM, add implementation of sending server"
## Kind (Required)

- Improvement

 ## Overview (Required)
disassemble this issue ☞ https://github.com/DroidKaigi/conference-app-2021/issues/41

- crate api and repository
- inject repository to messagingService

 ## Links

- https://droidkaigi.stoplight.io/docs/ssot-api/openapi/reference/external.v1.yaml/paths/~1devices~1%7BdeviceId%7D/put

[2021-02-28 15:13] RyuNen344 commented on #181
I do this

[2021-02-28 15:16] takahirom commented on #181
Thank you for creating the issue! Assigned 👍

[2021-02-28 15:26] takahirom commented on #104
Thanks! Assigned!

[2021-02-28 15:28] marshi commented on #73
I'll try it 🙋

[2021-02-28 15:29] tomoya0x00 commented on #73
Thanks! Assigned 🙏

[2021-02-28 15:34] #68 closed

[2021-02-28 16:02] yutaabe200 commented on #166
@takahirom
I would love to contribute, so please tell me the repository🙏

[2021-02-28 16:06] #73 closed

[2021-02-28 16:32] HiroyukiYagihashi commented on #74
I would like to work on this issue.

[2021-02-28 16:32] tomoya0x00 commented on #74
Thanks! Assigned ❤️

[2021-02-28 16:43] takahirom commented on #166
I'll write a little tomorrow morning.🙏

[2021-02-28 17:40] #104 closed

[2021-02-28 17:42] tfandkusu commented on #18
🙋

[2021-02-28 17:58] mhidaka commented on #18
Thank you for standing as a contributor, We just assigned you 😉

[2021-02-28 18:19] tick-taku commented on #21
Hi! I want to try ✋
Please give me some times.

[2021-02-28 18:22] mhidaka commented on #21
Sure! we always welcome your contribution. I just assigned you 👍

[2021-02-28 18:24] mightyfrog commented on #177
I'll take this one.

[2021-02-28 18:55] mhidaka commented on #177
@mightyfrog thank you for your quick works! assigned 😃

[2021-02-28 19:29] fornewid commented on #126
🙋‍♂️

[2021-02-28 23:47] ymnder commented on #126
Thank you! We assigned this issue to you. 😄

[2021-03-01 00:03] maho-ya commented on #88
Hello, I would like to work on this issue.

[2021-03-01 00:45] ue-moo commented on #85
🙋‍♂️

[2021-03-01 00:46] takahirom commented on #88
Thank you! Assigned :+1:

[2021-03-01 00:51] takahirom commented on #166
@yutaabe200
* About this app
This is a Feeder app as described in the Readme.

* Technology
Once in this issue, I feel like creating an empty project using SwiftUI.
I would like to install iOS apps like the following projects in 2020.
https://github.com/DroidKaigi/conference-app-2020/tree/master/ios-base

This repository is considering using Kotlin Multiplatform classes for API and Repository. (Ko

[2021-03-01 00:59] #177 closed

[2021-03-01 01:00] #74 closed

[2021-03-01 01:02] #125 closed

[2021-03-01 01:19] #181 closed

[2021-03-01 01:27] takahirom opened #190 "Use same compose version for library and compiler"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Maybe you can declare the version in Dep.kt and use it throughout the app.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/buildSrc/src/main/java/Dep.kt#L7-L16
- https://github.com/DroidKaigi/conference-app-2021/blob/0f42f6898c2be402e101157b490513da06ce1ca8/build.gradle#L5
- https://github.com/DroidKaigi/confer

[2021-03-01 01:30] takahirom opened #191 "Add line breaks for each parameter"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything. Please see link.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/pull/186#discussion_r584393295

[2021-03-01 01:32] #85 closed

[2021-03-01 01:34] ue-moo commented on #85
@takahirom
Thanks for approval! → #189
Plz assign me with this issue 🙇

[2021-03-01 01:47] yurihondo commented on #85
@ue-moo
Ooops..Sorry.
I've just assign you with this issue, please check 🙇

[2021-03-01 01:53] yutaabe200 commented on #166
@takahirom
Thank you for the explanation.
Is the place to create "https://github.com/DroidKaigi/conference-app-2021/tree/main/ios"?

[2021-03-01 01:56] risako070310 commented on #190
🙋🏻‍♀️

[2021-03-01 01:57] yurihondo commented on #190
Thanks! assigned!

[2021-03-01 01:59] takahirom commented on #166
I think it's good!

[2021-03-01 02:03] ue-moo commented on #85
@yurihondo
Thank you for you help :)

[2021-03-01 02:37] tmk815 commented on #191
🙋‍♂️

[2021-03-01 02:37] tomoya0x00 commented on #191
Thanks! Assigned ❤️

[2021-03-01 02:44] takahirom commented on #191
Probably we should add an option for ktlint.
Can you add this? `.userData([android: "true"])`
https://github.com/diffplug/spotless/issues/750

[2021-03-01 02:55] tmk815 commented on #191
Can I use ktlint("0.39.0").userData([android: "true"]) in build.gradle?

[2021-03-01 02:56] takahirom commented on #191
Yes! Please 🙏

[2021-03-01 03:03] yetanothercheer commented on #174
🙋🏻‍♂️

[2021-03-01 03:04] tomoya0x00 commented on #174
Thanks! Assigned 🙏

[2021-03-01 04:03] #191 closed

[2021-03-01 04:15] sadashi-ota commented on #92
I will try this. 🙋

[2021-03-01 04:16] yurihondo commented on #92
@sadashi-ota
Thank you! Assigned 🙏

[2021-03-01 05:25] Index197511 commented on #127
I would like to challenge this issue.　@takahirom

[2021-03-01 05:30] mhidaka commented on #127
@Index197511 please challenge it🚀  We assigned you 👍

[2021-03-01 05:30] #174 closed

[2021-03-01 06:51] Index197511 opened #197 "Keep selected tab through rotation at OtherScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Since this is the state of OtherScreen, it may be possible to keep it in ViewModel

 ## Links

-

[2021-03-01 06:55] Index197511 opened #198 "Make the tab selected in the drawer open in FeedScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now when I select a tab from the drawer, it opens the Home tab every time. Please make sure that the tab selected from the drawer is opened in FeedScreen.

 ## Links

-

[2021-03-01 06:56] Index197511 opened #199 "Make the tab selected in the drawer open in OtherScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now when I select a tab from the drawer, it opens the Home tab every time. Please make sure that the tab selected from the drawer is opened in OtherScreen.

 ## Links

-

[2021-03-01 07:11] RyuNen344 opened #200 "getDefaultLocale by platform implementation"
## Kind (Required)
- Other

 ## Overview (Required)

- Pure kotlin code is preferable for common modules.
- https://github.com/DroidKaigi/conference-app-2021/pull/195/files/0c217968280001a98c0664d445654608e6f421b6#r584475947
- I think it needs expect/actual fun

 ## Links

- [kotlin natvie mapping](https://kotlinlang.org/docs/native-objc-interop.html#mappings)

[2021-03-01 07:13] KoutaMatsushita commented on #115
I want to try it. 🙋‍♂️

[2021-03-01 07:14] mhidaka commented on #115
Assigned! Thank you!

[2021-03-01 08:04] takahirom commented on #200
For now, just implement it in the main directory for Android in the same way, and you should be able to do it easily with expect actual.
https://kotlinlang.org/docs/mpp-connect-to-apis.html
https://github.com/DroidKaigi/conference-app-2021/blob/bdc87a890ec901c95493ef7787ac7fed84b916c3/data/api/src/main/java/io/github/droidkaigi/feeder/data/request/DevicePostRequest.kt#L3

[2021-03-01 08:19] RyuNen344 commented on #200
thanks for link to right reference 🙇

[2021-03-01 08:51] ShebangDog commented on #199
🙋

[2021-03-01 08:55] tomoya0x00 commented on #199
Thanks! Assigned ❤️

[2021-03-01 09:00] takahirom opened #201 "Create the screen structure for iOS App"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, there is a blank screen. Can you create a feed and other screens?
- There is no need to adapt the design. It is only necessary to have a blank screen and only the screen structure.

 ## Links

- Blank project: https://github.com/DroidKaigi/conference-app-2021/pull/193#issuecomment-787765954
- Android Design: https://www.figma

[2021-03-01 09:01] #166 closed

[2021-03-01 10:12] kwQt commented on #101
I'll try this issue :raising_hand:

[2021-03-01 10:21] takahirom commented on #101
Thanks! Assigned 👍

[2021-03-01 11:16] t-yusaku commented on #113
Can I try it ? 🙋‍♂️

[2021-03-01 11:17] takahirom commented on #113
Thanks! Assigned!

[2021-03-01 11:40] takahirom opened #202 "Move androidx.appcompat:appcompat:1.2.0 to Dep.kt"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything. Please see link 🙏

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/f0267c32b8acb5f6f60a10e674c4cce858d9008d/uicomponent-compose/core/build.gradle#L47
- https://github.com/DroidKaigi/conference-app-2021/blob/main/buildSrc/src/main/java/Dep.kt#L19

[2021-03-01 11:44] takahirom commented on #28
I think it has been added, so I'll close it once. Please open it again if necessary.

[2021-03-01 11:45] #28 closed

[2021-03-01 11:47] takahirom commented on #198
Probably this working on https://github.com/DroidKaigi/conference-app-2021/pull/196

[2021-03-01 11:48] akihiro-n commented on #202
🙋

[2021-03-01 11:49] tomoya0x00 commented on #202
Thanks! Assigned 👍

[2021-03-01 11:50] atsuya046 commented on #58
I wanna try 🙋

[2021-03-01 11:52] tomoya0x00 commented on #58
Thanks! Assigned 👍

[2021-03-01 11:57] takahirom opened #203 "Use English for Navigation Drawer text"
## Kind (Required)

- Improvement

 ## Overview (Required)

I talked with the designer.

DroidKaigiとは -> ABOUT
コントリビューター -> CONTRIBUTOR
スタッフ -> STAFF
設定 -> SETTING

 ## Links

-

[2021-03-01 12:03] akihiro-n commented on #203
🙋

[2021-03-01 12:06] takahirom opened #206 "Delete unnecessary placeholder"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Delete this and please check this screen.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/ed7f3543dc841122ff1d453b393fc2a3af711078/uicomponent-compose/other/src/main/java/io/github/droidkaigi/feeder/other/OtherScreen.kt#L90

[2021-03-01 12:06] tomoya0x00 commented on #203
Thanks! Assigned ❤️

[2021-03-01 12:37] kmachida12345 commented on #63
I will try this :raising_hand:

[2021-03-01 12:38] takahirom commented on #63
Thanks! Assigned 👍

[2021-03-01 12:56] ntsk commented on #87
:raising_hand_man:

I don't know if it can be done, but I will try it with reference to [JetSnack](https://github.com/android/compose-samples/tree/main/Jetsnack).

<img src=https://user-images.githubusercontent.com/5681281/109499756-a97d0700-7ad8-11eb-9dbe-c82979bcff95.gif width=300>

[2021-03-01 13:01] takahirom commented on #87
🆒
Please try it 🙏 If it's difficult, you can always give up.

[2021-03-01 13:03] #202 closed

[2021-03-01 13:09] #203 closed

[2021-03-01 13:22] maho-ya commented on #88
Thank you. I will do it.

[2021-03-01 13:46] #101 closed

[2021-03-01 13:50] kafumi opened #211 "Remove divider displayed above the first item in feed lists"
## Kind (Required)

- Improvement

## Overview (Required)

A divider is displayed above the first item in feed list. This divider might make the boundary between the front layer and the back layer of backdrop looks "blurred" unexpectedly. It would be nice to remove it.
<img width="300" alt="device-2021-03-01-224020" src="https://user-images.githubusercontent.com/12084705/109505947-763e7600-7ae0-11

[2021-03-01 13:53] takahirom opened #212 "Fix padding when side navigation bar"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is an inserter in this project, so please use it.
- https://chrisbanes.github.io/accompanist/insets/
![image](https://user-images.githubusercontent.com/1386930/109506197-b867b780-7ae0-11eb-97b9-bb912517504f.png)

 ## Links

-

[2021-03-01 13:55] takahirom commented on #211
I didn't notice it 👍 Thank you!

[2021-03-01 14:04] takahirom opened #213 "Use common logo image"
## Kind (Required)

- Improvement

 ## Overview (Required)

- In this PR we added two vector drawable. But we can use uicomponent-compose:core module.
in uicomponent-compose:feed
![image](https://user-images.githubusercontent.com/1386930/109508283-0a114180-7ae3-11eb-9067-12bfe8421c8a.png)
in uicomponent-compose:other
![image](https://user-images.githubusercontent.com/1386930/109508436-36c55900-7ae

[2021-03-01 14:16] takahirom commented on #211
Probably here.
It was implemented a long time ago, but there is a better way. 👀
https://github.com/DroidKaigi/conference-app-2021/blob/7a907ac9602267443265a912744d7c69ef121e48/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L220

[2021-03-01 14:25] kafumi opened #215 "Prevent position changes of tab texts caused by tab selection"
## Kind (Required)

- Improvement

## Overview (Required)

The positions of the tab texts can dynamically change based on which tab is selected. It might be good to prevent them from moving because of tab selection.

https://user-images.githubusercontent.com/12084705/109510304-2dd58700-7ae5-11eb-9ba5-adb69bad3778.mp4

https://user-images.githubusercontent.com/12084705/109510313-2f9f4a80-7ae5-11eb-

[2021-03-01 14:40] #127 closed

[2021-03-01 14:42] Index197511 commented on #198
Should this issue be closed?

[2021-03-01 14:57] #126 closed

[2021-03-01 15:17] #115 closed

[2021-03-01 15:28] fornewid commented on #212
🙋‍♂️

[2021-03-01 15:28] #92 closed

[2021-03-01 15:29] takahirom commented on #212
Thanks! Assigned!

[2021-03-01 16:09] #212 closed

[2021-03-01 16:42] mightyfrog commented on #105
I'll take care of it.

[2021-03-01 16:43] tomoya0x00 commented on #105
Thanks! Assigned 👍

[2021-03-01 16:47] #215 closed

[2021-03-01 23:53] #105 closed

[2021-03-02 00:17] sobaya-0141 commented on #213
:raising_hand:

[2021-03-02 00:19] sobaya-0141 commented on #211
:raising_hand:

[2021-03-02 00:57] takahirom commented on #211
Thanks! Assigned!

[2021-03-02 00:58] takahirom commented on #213
Thanks as always!! Assigned!

[2021-03-02 00:59] takahirom commented on #198
Thank yok!

[2021-03-02 00:59] #198 closed

[2021-03-02 01:10] #63 closed

[2021-03-02 01:13] takahirom opened #228 "Can we use common artifact for Arbor?"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We use JVM artifact. But Probably In recent Kotlin MPPs, you can only refer to common artifact.
- Like `const val abor = "com.ToxicBakery.logging:arbor:1.35.72"`
-
- Please delete "com.ToxicBakery.logging:arbor-android" and "com.ToxicBakery.logging:arbor-jvm" dependency and use "com.ToxicBakery.logging:arbor" 🙏

 ## Links

- https://git

[2021-03-02 01:23] #41 closed

[2021-03-02 01:32] takahirom opened #229 "Use const value for route string"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We are using `feed/` `other/`
- Can you use top-level const value for this in AppContent?
- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/AppContent.kt#L72

 ## Links

-

[2021-03-02 01:37] RyuNen344 commented on #22
@takahirom
I wanna try this!

[2021-03-02 01:38] RyuNen344 commented on #23
@takahirom
I wanna try this!

[2021-03-02 01:48] takahirom commented on #22
It seems that fake's ViewModel is required for this function, so you will be based on this PR, but is that okay? 👀  I'll assign it for the time being! 👍
https://github.com/DroidKaigi/conference-app-2021/pull/224

[2021-03-02 01:55] RyuNen344 commented on #22
thank you for assign 😆

I understand that! I'm watching that issue and starting to ready for implement 🏃

[2021-03-02 02:16] k-tomoyasu commented on #229
🙋

[2021-03-02 02:17] takahirom commented on #229
Thanks!Assigned!

[2021-03-02 03:04] Gazyu commented on #200
🙋

[2021-03-02 03:07] takahirom commented on #200
Thanks! Assigned 👍

[2021-03-02 03:26] ShebangDog commented on #112
I want to try it!

[2021-03-02 03:26] tomoya0x00 commented on #112
Thanks! Assigned 👍

[2021-03-02 03:35] #100 closed

[2021-03-02 03:35] #199 closed

[2021-03-02 04:17] takahirom opened #230 "Switch status bar transparent when navigation drawer open"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, we use always semi-transparent background.
- But navigation drawer of material component android switch transparent and semi-transparent when open drawer.
-
![image](https://user-images.githubusercontent.com/1386930/109596458-a5dd9480-7b59-11eb-91e3-0475daa9c261.png)

 ## Links

-

[2021-03-02 05:14] #190 closed

[2021-03-02 06:50] fornewid commented on #79
🙋‍♂️

[2021-03-02 06:52] takahirom commented on #79
Thank you! Maybe it's blocked below. Please tell me that you can always give up if it is difficult.
https://issuetracker.google.com/issues/172112072

[2021-03-02 07:36] cheddar-dev commented on #230
🙋

[2021-03-02 07:36] tomoya0x00 commented on #230
Thanks! Assigned 👍

[2021-03-02 09:05] kafumi commented on #38
Could I try this issue? I will prepare color palette of dark theme based on [2020 app implementation](https://github.com/DroidKaigi/conference-app-2020) and [2020 design kit](https://www.figma.com/file/RPPQQRys8IubNShKan8c2Z/DroidKaigi-2020-App-Design-Kit) in addition to [2021 UI spec](https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app).

[2021-03-02 09:08] tomoya0x00 commented on #38
Thanks! Assigned 👍

[2021-03-02 09:11] TheReprator opened #232 "unable to hit api"
When i launch the app, it's just showing empty screen on click of any icon, no data or loading is there, on android phones.

![device-2021-03-02-144117](https://user-images.githubusercontent.com/10286587/109625477-63ba5000-7b65-11eb-9954-7b40954690f0.png)

[2021-03-02 09:12] TheReprator commented on #232
Please let me know, how to fix this

[2021-03-02 09:15] takahirom commented on #232
Thank you for reporting.
Probably caused by the following problem, but we do not currently know how to deal with it.
This problem may be improved by restarting the application.
https://github.com/DroidKaigi/conference-app-2021/issues/93

[2021-03-02 09:19] takahirom commented on #232
If restarting the app doesn't work, I would appreciate it if you could provide the logcat log for investigation. 🙏

[2021-03-02 10:01] #113 closed

[2021-03-02 10:02] takahirom opened #233 "Rename to onSelectTab to onSelectFeedTab"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Because there is onSelectOtherTab

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/AppContent.kt#L127

[2021-03-02 10:30] akeybako commented on #233
🙋

[2021-03-02 10:30] tomoya0x00 commented on #233
Thanks! Assigned 👍

[2021-03-02 11:15] ShebangDog commented on #112
Help!
I do not know a way to reload with coroutine.
How to reload data with coroutine?

[2021-03-02 11:35] takahirom commented on #112
I think you can do it like this 🙏

[code]

[2021-03-02 11:37] ShebangDog commented on #112
thank you
Should I implement retry fetching?

[2021-03-02 11:40] takahirom commented on #112
Well, if it's difficult, you can add another implementation like the one below to create another issue.

[code]

[2021-03-02 11:49] #21 closed

[2021-03-02 12:41] maho-ya commented on #88
@takahirom
Hi, I have a question.
I noticed that the layout of the feed images changed during testing, is this the correct design?
It looks like the image has a border as shown below.

Figma design | App (9fe747b)
:--: | :--:
<img width="143" alt="スクリーンショット 2021-03-02 21 12 36" src="https://user-images.githubusercontent.com/32348624/109647448-a5b2b880-7b9c-11eb-9080-8f4290dff628.png"> | <img width

[2021-03-02 12:46] takahirom commented on #88
Thank you for noticing! It is a bug. Can you remove and try it?
The point that the designer cares about is how it looks when a 16: 9 image is included.

[2021-03-02 12:53] takahirom opened #237 "Use material icon for navigation drawer image"
## Kind (Required)

- Improvement

 ## Overview (Required)
- Please use the material icon

- https://github.com/DroidKaigi/conference-app-2021/blob/5da442dafc34583249daf37c86a4f4fe1517686a/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/DrawerContent.kt#L46
・BLOG → text_snippet
・VIDEO → videocam
・PODCAST → mic_none

![image](https://user-images.githubusercontent.com/1386930/1096

[2021-03-02 12:54] kafumi opened #238 "DroidKaigi 2021 app is not listed in home launcher"
**Overview (Required)**

DroidKaigi 2021 app is not listed on home launcher.

**Steps To Reproduce**

1. Install DroidKaigi 2021 app via [DeployGate](https://dply.me/o701pp#install)
2. Go to home app

**Expected behavior**

- After step 1, "Open" button of the "DroidKaigi 2021" app should be enabled in DeployGate app
- After step 2, "DroidKaigi 2021" app is found from app list

**Screenshots**

ht

[2021-03-02 12:55] #213 closed

[2021-03-02 12:57] takahirom commented on #238
Critical :eyes:  I will look this :eyes:

[2021-03-02 13:00] yonce3 commented on #237
🙋‍♂️

[2021-03-02 13:02] maho-ya opened #240 "Remove border of feed image"
**Overview (Required)**
- The feed image has a border that is not in the design instructions and needs to be removed.

**Steps To Reproduce**

1. Launch App
2. Show home screen

**Expected behavior**
It is expected that there will be no border in the feed image.

**Screenshots**

Figma design | App
:--: | :--:
<img width="143" alt="スクリーンショット 2021-03-02 21 12 36" src="https://user-images.githubuser

[2021-03-02 13:05] takahirom commented on #237
Thanks! Assigned 👍

[2021-03-02 13:05] maho-ya commented on #240
@takahirom
I understand. I will try this issue.

[2021-03-02 13:13] #238 closed

[2021-03-02 13:14] takahirom commented on #240
Thanks! Assigned 👍

[2021-03-02 13:19] takahirom commented on #232
I will close this issue once, so please let me know if there is anything else at any time.

[2021-03-02 13:21] #232 closed

[2021-03-02 13:43] akihiro-n commented on #228
🙋‍♂️

[2021-03-02 13:44] sobaya-0141 commented on #206
:raising_hand:

[2021-03-02 13:45] mhidaka commented on #228
Thank you! Assigned 🚀

[2021-03-02 13:46] mhidaka commented on #206
It's fun! we just assigned you 👍

[2021-03-02 13:48] sobaya-0141 commented on #197
:raising_hand:

[2021-03-02 13:48] #211 closed

[2021-03-02 13:51] a25max commented on #82
I want to try it ✋

[2021-03-02 13:53] mhidaka commented on #82
We assigned you. Thanks 👍

[2021-03-02 14:12] kafumi commented on #91
Could I try this issue? 🙋‍♂️

[2021-03-02 14:26] takahirom opened #245 "Delete compose_versoin"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  We can use Versions.compose for using places of compose_version
-
 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/d0fdd62f14f833d413260ab5be8e316beeaaa841/build.gradle#L6

[2021-03-02 14:31] #112 closed

[2021-03-02 14:39] akihiro-n commented on #228
I added this library.
```com.ToxicBakery.logging:arbor:1.35.72```
But there was a problem.
[code]

I'm sorry. Do you know how to solve this problem?

[2021-03-02 14:40] takahirom commented on #228
Sorry, can you try com.ToxicBakery.logging:common? 🙇
https://search.maven.org/search?q=g:com.ToxicBakery.logging

[2021-03-02 14:41] akihiro-n commented on #228
Thank you. I will try.

[2021-03-02 14:58] #38 closed

[2021-03-02 15:05] takahirom opened #246 "Add deeplink declaration in AndroidManifest.xml"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - I deleted data element. Because it is wrong and It removed this app's launcher icon.
https://github.com/DroidKaigi/conference-app-2021/pull/241/files
 - It should be okay if you write it in android.intent.action.VIEW normally.

 ## Links

- https://developer.android.com/training/app-links/deep-linking?

[2021-03-02 15:09] #240 closed

[2021-03-02 15:15] 5hyn3 commented on #122
🙋

[2021-03-02 15:19] takahirom opened #247 "Add preview for LandingScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please add a preview function for this screen

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/4d2556e2d4aa0ef89da9371f3c5208fcbdcdf42b/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/LandingScreen.kt

[2021-03-02 15:19] takahirom commented on #122
Thanks! Assigned 👍

[2021-03-02 15:22] takahirom opened #248 "Delete outdated comment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now, we don't use the Deprecated function. so we can remove that 👍

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/8750f69558fb71383c958421236d71ffa05e27a5/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/LandingScreen.kt#L19

[2021-03-02 15:24] takahirom opened #249 "Add night mode preview for FeedScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  The title says everything
- Probably You can do it with pass true to the theme. https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L272

 ## Links

-

[2021-03-02 15:30] RyuNen344 commented on #246
sorry for enhancement bug.... Would you give a chance for fix it... 🙇

[2021-03-02 15:43] takahirom commented on #246
I think the good thing about this app is that you can make a lot of breaking changes, so let's make a lot of aggressive changes!

[2021-03-02 15:56] #122 closed

[2021-03-02 16:42] fucchi-senpai commented on #245
Can I try it? 🙇

[2021-03-02 16:49] mhidaka commented on #245
Sure, You should try it 👍  Assigned!

[2021-03-02 17:29] #79 closed

[2021-03-02 17:39] fornewid opened #253 "Fade through animation when switching tab content"
## Kind (Required)

- Improvement

 ## Overview (Required)

- material motion was not implemented in material compose.
   So let's implement the FadeThrough animation.

 ## Links

- next task of #251
- https://material.io/design/motion/the-motion-system.html#fade-through

[2021-03-02 17:44] fornewid commented on #253
(if okay) 🙋‍♂️

[2021-03-02 21:03] mhidaka commented on #253
Assigned!

[2021-03-02 22:56] tkhs0604 commented on #248
🙋‍♂️ (My first time to contribute for open source project)

This means that we only have to delete "FIXME Deprecated" comment?

[2021-03-02 23:11] takahirom commented on #248
Yes! it is!
Assigned!

[2021-03-03 00:41] #245 closed

[2021-03-03 00:43] #18 closed

[2021-03-03 00:45] #246 closed

[2021-03-03 01:09] takahirom opened #256 "Which do you like better, how to organize the versions?"
## Kind (Required)

- Improvement

 ## Overview (Required)

* Versions object

[code]

Good point: Since the versions are gathered in one place, you can see many versions at once.

* Version in the object

[code]

Good point: You can see the version immediately when you jump to the reference with the `implementation Dep.Compose.xxx` etc.

Please tell me which one is better and if there are other v

[2021-03-03 01:11] tfandkusu commented on #19
🙋

[2021-03-03 01:11] tomoya0x00 commented on #19
Thanks! Assigned 👍

[2021-03-03 01:39] mkano9 commented on #20
Hi @takahirom I would love to pick this one up :)

[2021-03-03 01:45] takahirom commented on #20
Hi @mkano9 ! Thank you every year! I assigned you! 👍

[2021-03-03 02:41] ikemoti commented on #109
🙋
I think it’s good splash screen like twitter !! 

I'm an Android beginner, so It may take a while before it finish🙇‍♀️

[2021-03-03 02:42] tomoya0x00 commented on #109
Thanks! Assigned 👍

[2021-03-03 03:24] felix925 commented on #70
🙋

[2021-03-03 03:30] takahirom commented on #70
Thanks! Assigned 🤖

[2021-03-03 03:33] sobaya-0141 commented on #206
I tried remove `Box(modifier = Modifier.height(1.dp)) `

As a result, occur this error`java.lang.IllegalArgumentException: The initial value must have an associated anchor.`

Please let me know if I'm approaching this wrong.

[2021-03-03 03:36] takahirom commented on #206
Thank you for investigating. 🙏
Perhaps this is currently necessary.
I would like to create an issue to add a comment as another issue

[2021-03-03 03:37] #206 closed

[2021-03-03 04:57] sobaya-0141 commented on #247
:raising_hand:

[2021-03-03 05:46] KeithYokoma commented on #247
@sobaya-0141 Thanks! Go ahead and feel free to ask anything to us :)

[2021-03-03 05:52] ikemura23 commented on #67
yarimasu

[2021-03-03 06:11] takahirom commented on #67
Thanks! Assigned 👍 yoroshikuonegaisimasu

[2021-03-03 07:40] watanavex commented on #76
I wanna try it 🙌

[2021-03-03 07:40] mhidaka commented on #76
Thank you! please go ahead!

[2021-03-03 09:50] #200 closed

[2021-03-03 10:10] BokaDaiki commented on #249
🙋

[2021-03-03 10:13] tomoya0x00 commented on #249
Thanks! Assigned 👍

[2021-03-03 12:19] cheddar-dev commented on #230
I'm very sorry, something has come up at home and I won't be able to finish this task.
So, I remove my assignment. 🙇‍♀️

[2021-03-03 12:20] takahirom commented on #230
OK! Thank you for your challenge!

[2021-03-03 13:59] takahirom opened #259 "Fix feed top items"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I see two identical items and it seems that there is no divider.
![image](https://user-images.githubusercontent.com/1386930/109816415-0e209900-7c74-11eb-955e-7634af70f4c5.png)

 -

 ## Links

-

[2021-03-03 14:04] takahirom opened #260 "Add list for About this app screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - Please add list to About screen.
 - No content is needed.
 - Please add to here
![image](https://user-images.githubusercontent.com/1386930/109816879-9737d000-7c74-11eb-8b72-186fcaaf92fa.png)
![image](https://user-images.githubusercontent.com/1386930/109816954-ab7bcd00-7c74-11eb-8474-81a1050daf10.png)

 ## Links

-

[2021-03-03 14:54] takahirom opened #262 "Implement answer survey item"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You don't have to add it to the list of feeds for use with:
- https://github.com/DroidKaigi/conference-app-2021/issues/67
 - Please be able to check the screen in Preview.
![image](https://user-images.githubusercontent.com/1386930/109823713-85a5f680-7c7b-11eb-9a70-e0c00d164c2f.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz

[2021-03-03 15:24] kafumi commented on #91
Sorry, although this issue is not assigned to me yet, I just created a proposal at #263. I'd appreciate it if it would be okay that I take this issue and you would take a look at the PR.

[2021-03-03 16:12] ttanaka330 commented on #259
🙋

[2021-03-03 16:14] satsukies commented on #259
@ttanaka330
Thanks! Assigned👍

[2021-03-03 16:47] tomoya0x00 commented on #91
Sorry, We missed your first comment 🙇
Anyway, thanks for your PR! We will check it 💪

[2021-03-03 17:00] #91 closed

[2021-03-03 17:19] #259 closed

[2021-03-03 17:56] akihiro-n commented on #260
🙋

[2021-03-03 18:32] akihiro-n commented on #256
英語があまり得意ではないので、細かいニュアンスを伝えるため今回は日本語でコメントさせて頂きます。

個人的には```Version in the object```の書き方が良いかなと思っています。

```Versions object```の書き方で得られる「一度に多くのバージョンを閲覧できる」メリットですが、実際のユースケースを想定した際に「複数のライブラリのバージョンのみ」をまとめて見たいというケースがあまり思い浮かばなかったです。
なので、ライブラリごとにバージョンを確認して修正する作業の際にメリットのある```Version in the object```の書き方が望ましいと思います。

個人的な意見ですので、ご指摘やご意見などあればお待ちしております！

[2021-03-04 00:41] takahirom commented on #260
Thanks!Assigned!

[2021-03-04 01:22] #228 closed

[2021-03-04 01:57] mattukouta commented on #262
I want to try it. 🙋‍♂️

Should I make a transition to link? Or is it only design?

[2021-03-04 02:06] yurihondo commented on #262
@mattukouta
Assigned 🙏
Thank you for your cooperation！

[2021-03-04 02:14] takahirom commented on #262
No need to handle button events!

[2021-03-04 02:16] #88 closed

[2021-03-04 02:18] #247 closed

[2021-03-04 02:23] mattukouta commented on #262
OK. Thank you for your reply.

[2021-03-04 03:15] #248 closed

[2021-03-04 03:36] maho-ya opened #267 "Remove unnecessary comments in FeedItem"
**Overview (Required)**

Remove old comments to avoid confusion.

https://github.com/DroidKaigi/conference-app-2021/blob/61ac0bba6a309dc06dd7de04b88a46abe7219b0c/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedItem.kt#L86

_Originally posted by @takahirom in https://github.com/DroidKaigi/conference-app-2021/pull/235#discussion_r586983842_

[2021-03-04 03:40] maho-ya commented on #267
I'll try it.

[2021-03-04 03:46] tomoya0x00 commented on #267
Thanks! Assigned 👍

[2021-03-04 03:56] #267 closed

[2021-03-04 04:14] tkhs0604 commented on #230
🙋‍♂️

[2021-03-04 04:16] takahirom commented on #230
Thanks for challenge! Assigned 👍

[2021-03-04 04:57] mightyfrog commented on #116
This needs clarification. How do we decide which size to use?

[2021-03-04 05:12] takahirom commented on #116
Thank you!
It is good to change it depending on the situation, but it has not been decided yet.
For example, it is likely to change depending on the size of the screen, the size on the dp used, and the line conditions. Do you have any suggestions?

[2021-03-04 05:45] sobaya-0141 commented on #197
It looks issue already resolved

[2021-03-04 06:33] takahirom commented on #197
Thanks for reporting!

[2021-03-04 06:33] #197 closed

[2021-03-04 07:46] sobaya-0141 commented on #108
:raising_hand:

[2021-03-04 07:51] KeithYokoma commented on #108
@sobaya-0141 Thanks and go for it! 👍

[2021-03-04 07:51] tomoya0x00 opened #269 "Improve method to show divider"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, We're looping twice the size of the content to display the Divider in FeedScreen
- If we referred to the Jetsnack app, We can avoid it

### Our App
https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L235

![image](https://user-image

[2021-03-04 12:59] #262 closed

[2021-03-04 13:13] takahirom opened #271 "Use arbor android in android module"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - The abor android was deleted in the following pull request, but I want to use LogCatSeedling, so add abor android to the dependency with the "android" module and change it to use LogCatSeedling.
https://github.com/DroidKaigi/conference-app-2021/pull/265

 ## Links

-

[2021-03-04 13:15] kagemiku commented on #201
Could I work on this issue?

[2021-03-04 13:25] takahirom opened #272 "implement Kotlin Native version of getDefaultLocale()"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - Please somehow use Kotlin Native to determine the locale for Japan or not. Perhaps the iOS development documentation will be helpful.
 - Add one actual function to iosMain and you're done.

You can check it by this.

./gradlew :model:compileKotlinIos

e: /Users/takahirom/git/connference-app-2021-news/model/src/commonMain/kotlin/io/gith

[2021-03-04 13:28] takahirom commented on #201
You seem to have iOS experience and are very grateful. Thank you! Assigned. I look forward to working with you. 👍

[2021-03-04 13:47] takahirom opened #273 "Add a comment to OtherScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - This method is "stateless". So I want to add "stateless" comment for this method

OtherScreen
https://github.com/DroidKaigi/conference-app-2021/blob/93b26358ce69b21e45048b51d1789ee28b6b8d8e/uicomponent-compose/other/src/main/java/io/github/droidkaigi/feeder/other/OtherScreen.kt#L74

FeedScreen
https://github.com/DroidKaigi/conference-a

[2021-03-04 14:13] takahirom opened #274 "Move "about this app" screen to about package from staff package"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please move to io.github.droidkaigi.feeder.about

 ## Links

-https://github.com/DroidKaigi/conference-app-2021/blob/31f9fff3c70dbcf71a590a6d41713492525bb2bd/uicomponent-compose/other/src/main/java/io/github/droidkaigi/feeder/staff/AboutThisApp.kt#L19

[2021-03-04 15:53] Takafumi-Orita commented on #273
🙋

[2021-03-04 15:54] tomoya0x00 commented on #273
Thanks! Assigned 👍

[2021-03-04 16:03] mightyfrog commented on #269
I'll take care of it.

[2021-03-04 16:05] tomoya0x00 commented on #269
Thanks! Assigned 👍

[2021-03-04 16:26] YuheiKawakami commented on #274
🙋‍♂️

[2021-03-04 16:51] tomoya0x00 commented on #274
Thanks! Assigned 👍

[2021-03-04 17:08] #269 closed

[2021-03-04 19:24] tfandkusu commented on #19
I have question about API.
I understood this issue needs API server implementation to get staff list and [this document](https://droidkaigi.stoplight.io/docs/ssot-api/openapi/reference/external.v1.yaml/paths/~1staff/get) describes its endpoint.
But the endpoint https://ssot-api-staging.an.r.appspot.com/staff responds 404 error.
Does I need to wait its API server implementation ?

[2021-03-04 19:32] tfandkusu commented on #19
On second thought, ViewModel and its test don't need the API implementation.
I'll proceed with this issue.

[2021-03-04 20:57] akihiro-n commented on #118
I'm interested in this task and would like to see more information.

1. Use the link value included in FeedItem.Podcast to generate an mp3 URL based on regularity.
For example ``` link = "https://droidkaigi.jp/fm/episode/5"``` → ```https://droidkaigi.jp/fm/audio/droidkaigi-fm_5.mp3```
1. Play mp3 on app.  For example, when you tap the thumbnail image?

Is my perception correct?

[2021-03-05 01:07] takahirom commented on #118
Yes, your perception is collect. 👍
Perhaps it's better to show if it's playing now. ⏯️

[2021-03-05 01:08] takahirom commented on #19
I'm sorry, I think it's probably not implemented yet. Is it possible to create a fake api response and proceed with the implementation? 🙇

[2021-03-05 01:13] #273 closed

[2021-03-05 01:26] tfandkusu commented on #19
Thanks for the reply. I will create a fake API response.

[2021-03-05 01:30] #274 closed

[2021-03-05 04:33] yoshida0261 commented on #271
🙋🏻‍♂️

[2021-03-05 04:43] KeithYokoma commented on #271
@yoshida0261 Thanks! Assigned this issue to you so go ahead 👍

[2021-03-05 13:16] myihsan commented on #272
I would like to try🙋‍♂️

[2021-03-05 13:21] takahirom commented on #26
Create other PR for creating night mode settings issue

[2021-03-05 13:21] #26 closed

[2021-03-05 13:22] #27 closed

[2021-03-05 13:28] takahirom opened #279 "Add dark theme setting for settings screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - The night mode design has already been implemented.
 - Last year's app may be helpful for implementing switching.
 - The design of the setting is similar to last year's design.

 ## Links

- https://github.com/DroidKaigi/conference-app-2020/pull/526/files

[2021-03-05 13:32] ocuto commented on #279
🙋‍♂️

[2021-03-05 13:45] KeithYokoma commented on #279
@ocuto Thank you, give it a shot!

[2021-03-06 02:47] yurihondo commented on #272
@myihsan
Sorry for late reply.
I assigned you to this issue!
Thank you for your cooperation.

[2021-03-06 03:22] #253 closed

[2021-03-06 03:28] fornewid commented on #77
:raising_hand_man:

[2021-03-06 03:38] takahirom commented on #77
Thank you for always tackling difficult problems! Assigned 👍

[2021-03-06 03:47] takahirom opened #282 "Content no scrolls after switching tabs"
**Overview (Required)**
-

**Steps To Reproduce**

1. Go to 'blog tab'
2. Click on 'home tab'
3. Scroll
4.  can't scroll

**Expected behavior**
Can scroll

**Screenshots**

https://user-images.githubusercontent.com/1386930/110193863-e3079680-7e79-11eb-9412-ae829415d81f.mp4

**Env:**
 - Device: Pixel3
 - OS: 11.0
 - App Version or the branch main

**Additional context**

[2021-03-06 03:59] takahirom opened #283 "Cool favorite toggle animation"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Do you have any favorite animations?

 ## Links

- https://developer.android.com/jetpack/compose/animation

[2021-03-06 04:45] takahirom commented on #23
Sorry for late. Thanks, Assigned 👍

[2021-03-06 05:00] takahirom opened #284 "Make compose module to"
## Kind (Required)

Choose the suitable template if exists.

- Bug report (please use the other template)
- Proposal / Discussion
- Improvement
- Other

 ## Overview (Required)

-

 ## Links

-

[2021-03-06 05:00] fornewid commented on #282
Probably, it may be related to [this issue](https://issuetracker.google.com/issues/176089198). 🙄
https://issuetracker.google.com/issues/176089198

[2021-03-06 05:32] takahirom opened #285 "Fix naming for Preview method"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Use Preview〇〇 instead of ○○Preview

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/ee2c57aaba325c4e00bf4b371f1f34cdd6af53ef/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/AnswerSurveyItem.kt#L100

[2021-03-06 05:34] takahirom opened #286 "Add lint check for Preview function naming"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The `Preview○○` is correct in this project.
- Is it possible to add a lint check to this project to protect it?

 ## Links

-

[2021-03-06 05:52] #272 closed

[2021-03-06 06:04] takahirom opened #289 "Show background for AnswerSurveyItem Preview"
## Kind (Required)

- Improvement

## Overview (Required)

- It's hard to see the preview now because the background isn't colored.
- - You can improve it by using AppThemeWithBackground(), so please try it.
![image](https://user-images.githubusercontent.com/1386930/110197164-0d168400-7e8d-11eb-89c5-744879df0957.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/efda223b22ac

[2021-03-06 06:32] takahirom opened #290 "Reload when clicking the action button in the error Snackbar"
## Kind (Required)

- Improvement

 ## Overview (Required)

- A reload button has already been added to the Snackbar, but the reload process itself is not implemented.
- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/viewmodel/RealFeedViewModel.kt#L88
- reload feature added this PR
- https://github.com/DroidKaigi/confe

[2021-03-06 07:22] watanavex commented on #69
Probably, adding it to `gradle.properties` will solve it.

[code]

https://kotlinlang.org/docs/migrating-multiplatform-project-to-14.html#try-the-hierarchical-project-structure
https://kotlinlang.org/docs/mpp-share-on-platforms.html#share-code-on-similar-platforms

[2021-03-06 07:31] watanavex commented on #69
It's working fine in my environment 👍
If this is correct, I will create a pull-request 🙌

[2021-03-06 08:16] takahirom commented on #69
Thank you for investigating! Assigned!!

[2021-03-06 09:11] #237 closed

[2021-03-06 09:25] akihiro-n commented on #118
Thank you👍
 I will try this issue😺

[2021-03-06 09:29] takahirom commented on #118
Thanks! Assigned 👍 I'm looking forward to your job!

[2021-03-06 09:42] #77 closed

[2021-03-06 10:09] takahirom commented on #1
screenshot
![image](https://user-images.githubusercontent.com/1386930/110203091-7c04d480-7eaf-11eb-87a1-3d97bf37d7db.png)
![image](https://user-images.githubusercontent.com/1386930/110203097-832be280-7eaf-11eb-941f-7c6a24c759b6.png)

[2021-03-06 10:20] RyuNen344 commented on #22
Hasn't the server API been implemented yet・・・?

[2021-03-06 10:26] takahirom commented on #22
Sorry. Probably not yet.. Can you create and use a fake API response? 🙇

[2021-03-06 12:19] #19 closed

[2021-03-06 12:36] fornewid commented on #283
What do you think of this animation? 🤔
The source code is [here](https://github.com/fornewid/android-animation-11p-more/blob/end/sample/src/main/java/soup/animation/sample/widget/HeartAnimationView.kt).

🙋‍♂️ (If the animation below is okay)

https://user-images.githubusercontent.com/3405740/110206884-bc6e4d80-7ec3-11eb-8ac0-5b79d4aa49e3.mp4

[2021-03-06 12:39] takahirom commented on #283
Looks good! But It uses Android View? 👀

[2021-03-06 12:42] fornewid commented on #283
Yes, that's right.
I have to create a new one for Compose. 😄

[2021-03-06 12:52] takahirom commented on #283
Thanks! Assigned 👍

[2021-03-06 12:52] takahirom commented on #283
I look forward to your implementation 😄

[2021-03-06 16:02] myihsan commented on #69
The problem seems like `commonMain` is using [Arbor](https://github.com/ToxicBakery/Arbor) which does not support iOS.

[2021-03-07 01:42] tommykw commented on #289
🙋‍♂️

[2021-03-07 01:44] takahirom commented on #289
Thanks Assigned!

[2021-03-07 02:49] #22 closed

[2021-03-07 04:36] #69 closed

[2021-03-07 06:55] #229 closed

[2021-03-07 07:08] yonce3 commented on #285
🙋‍♂️

[2021-03-07 07:38] takahirom commented on #285
Thanks! Assigned 👍

[2021-03-07 07:53] takahirom commented on #271
Sorry. We will quit using arber.
Sorry for close this issue 🙏

[2021-03-07 08:45] akeybako commented on #233
My work conflicts with current main branch.
I assume this issue has already been resolved.

[2021-03-07 08:51] akeybako commented on #233
in https://github.com/DroidKaigi/conference-app-2021/pull/261
`onSelectTab ` was removed.

[2021-03-07 08:54] takahirom commented on #233
Oh.. Sorry. I didn't notice it.
I look forward to your next contribution!

[2021-03-07 08:54] #233 closed

[2021-03-07 09:09] #201 closed

[2021-03-07 09:21] #271 closed

[2021-03-07 09:22] takahirom commented on #69
I removed the arbor library. Thank you for reporting!

[2021-03-07 11:15] atsuya046 commented on #290
I want to try 🙋

[2021-03-07 11:50] takahirom commented on #290
Thanks! Assigned 👍

[2021-03-07 12:27] #285 closed

[2021-03-07 13:55] #58 closed

[2021-03-07 14:08] ked4ma commented on #59
i'll try it

[2021-03-07 14:12] takahirom commented on #59
Thank you for trying!

[2021-03-08 00:11] #59 closed

[2021-03-08 00:42] takahirom commented on #82
This issue blocks the task of testing other compose layouts, so I'd like it to be quicker if you like. If you don't have time, please let me know as I will cancel the assignment 🙇

[2021-03-08 00:43] takahirom commented on #82
@a25max  This issue blocks the task of testing other compose layouts, so I'd like it to be quicker if you like. If you don't have time, please let me know as I will cancel the assignment 🙇

[2021-03-08 01:55] tamon-hori commented on #286
🙋

[2021-03-08 01:59] KeithYokoma commented on #286
@tamon-hori Thanks! I assigned this task to you and please don't hesitate to ask anything 👍

[2021-03-08 08:09] watanavex commented on #94
This is an interesting issue.
I wanna try it 🙌

[2021-03-08 08:56] takahirom commented on #94
Thanks as always! Assigned 👍

[2021-03-08 08:58] #76 closed

[2021-03-08 12:06] a25max commented on #82
I see. Sorry I take more time. Please unassign 🙇 @takahirom

[2021-03-08 12:17] takahirom commented on #82
Thank you for your response. And I'm sorry to rush you. I look forward to your contribution 🙏

[2021-03-08 13:02] #108 closed

[2021-03-08 14:20] #290 closed

[2021-03-08 19:34] akihiro-n opened #312 "Get app version name on About this app screen"
## Kind (Required)
- Improvement

 ## Overview (Required)
- Related issue #308
- Get app version name on About this app screen

[2021-03-09 00:31] takahirom opened #314 "Rename FeedItemViewModelTest -> FeedViewModelTest"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything 😄

 ## Links

-

[2021-03-09 00:32] takahirom opened #315 "@Suppress("unused") to this property"
## Kind (Required)

- Improvement

 ## Overview (Required)

- for fixing inspection

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/34a1dd7363efc0875d49170c58783b69e0352718/android/src/test/java/io/github/droidkaigi/feeder/FeedItemViewModelTest.kt#L26

[2021-03-09 00:34] takahirom opened #316 "Move androidx dependencies to Dep.kt"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You can find it by searching "implementation 'androidx.".

 ## Links

-

[2021-03-09 00:35] takahirom opened #317 "Add lintDebug task to CI"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You probably just add `./gradlew lintDebug`.

 ## Links

-

[2021-03-09 00:36] #289 closed

[2021-03-09 00:37] takahirom opened #318 "Add background to FeedItem preview"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It's hard to see the preview now because the background isn't colored.
- You can improve it by using AppThemeWithBackground(), so please try it.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/efda223b22ac510b5ec4e6c53b1a2df98264d629/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/DrawerContent.kt

[2021-03-09 00:38] takahirom opened #319 "Add animation preview of LandingScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Add a Preview for animtion and check it out in the animation preview.

 ## Links

- https://developer.android.com/jetpack/compose/tooling#animations

[2021-03-09 00:39] takahirom opened #320 "Update Kotlin 1.4.30 -> 1.4.31"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We should update kotlin

 ## Links

-

[2021-03-09 00:41] takahirom opened #321 "Update com.android.tools.build:gradle:7.0.0-alpha08 -> 7.0.0-alpha09"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Update AGP plugin and check it 🙏

 ## Links

-

[2021-03-09 00:43] takahirom opened #322 "Delete unneeded comment"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The comments are below.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/b9534e910bbc98f8d3662186bc0547f048aa1e72/data/api/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/AuthApi.kt#L25-L27

[2021-03-09 00:47] takahirom opened #323 "Logger solution for Kotlin MPP"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We tried arbor but it does not support Kotlin Native

I want a library that has the following elements:

- Interface that does not need to declare fields etc. every time like Timber
- Can be flexibly sent to crashlytics etc. like Timber
- It is compatible with recent Kotlin versions.
- Supports kotlin native

 ## Links

-

[2021-03-09 00:50] takahirom opened #324 "Unit Test that the Favorite of FeedItem is reflected"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Check that what you passed in the argument is reflected.
![image](https://user-images.githubusercontent.com/1386930/110401402-daeb6900-80bc-11eb-843a-548608fc4548.png)

 ## Links

- test sample : https://github.com/DroidKaigi/conference-app-2021/pull/310

[2021-03-09 00:51] a25max commented on #318
✋

[2021-03-09 00:52] takahirom commented on #318
Thanks! Assigned 👍

[2021-03-09 00:53] takahirom opened #325 "Unit Test that the showMediaLabel parameter of the FeedItem is reflected"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything
![image](https://user-images.githubusercontent.com/1386930/110401651-4df4df80-80bd-11eb-8856-7bc2568b12a2.png)

 ## Links

- test sample : #310

[2021-03-09 00:56] takahirom opened #326 "Unit Test FeedList for items from start to finish"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I want to prevent it because the logic can cause the item to disappear.

 ## Links

- test sample : #310

[2021-03-09 01:08] #87 closed

[2021-03-09 01:35] akeybako commented on #320
🙋

[2021-03-09 01:39] KeithYokoma commented on #320
@akeybako Thanks! I assigned this issue to you. Feel free to ask any questions you have 👍

[2021-03-09 04:59] fummicc1 commented on #314
🙋‍♂️

[2021-03-09 05:00] tomoya0x00 commented on #314
Thanks! Assigned 👍

[2021-03-09 06:16] anandwana001 commented on #322
I want to start contributing to this by this issue. Sending a PR for this.

[2021-03-09 06:28] #322 closed

[2021-03-09 06:48] anandwana001 opened #328 "Remove usages of `jcenter()`"
## Kind (Required)

- Improvement

 ## Overview (Required)
Warning by Android Studio

[code]

[2021-03-09 07:18] anandwana001 commented on #325
I want to work on this @takahirom

[2021-03-09 07:36] takahirom commented on #328
Definitely 😄

[2021-03-09 07:40] #325 closed

[2021-03-09 07:49] takahirom opened #331 "Add android test to CI"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We were adding android test . But we don't check its status by ci 😭
- Please add it.

 ## Links

- We can refer compose-samples
- https://github.com/android/compose-samples/blob/main/.github/workflows/JetNews.yaml

[2021-03-09 08:24] #314 closed

[2021-03-09 09:02] #37 closed

[2021-03-09 10:56] akihiro-n commented on #324
🙋

[2021-03-09 11:04] takahirom commented on #324
Thanks! Assigned 👍

[2021-03-09 12:25] myihsan opened #334 "Proposal about the design for the iOS app"
## Kind (Required)

Proposal / Discussion

 ## Overview (Required)

Is there any chance that we can have another design for the iOS app?

We can indeed use [material-components-ios](https://github.com/material-components/material-components-ios), but we cannot use it directly since it's implemented by _UIKit_ which is different from our current layout framework–_SwiftUI_.
It's possible to make it

[2021-03-09 12:37] takahirom commented on #334
Thank you for your suggestion. I'll talk with the staff. 🙏

[2021-03-09 14:24] matsujun commented on #312
Ah... the "Related Issue" is not merged yet...

[2021-03-09 14:26] mhidaka commented on #321
Sure, please go ahead 🚀

[2021-03-09 14:54] myihsan commented on #319
I am wondering if this feature available now🤔
I tried something like below according the document you provide.
[code]
But the animation inspector button was disabled with a message–"No animations available for inspection".

This is my first time trying _Jetpack Compose_, and I may doing something wrong.
So it is not necessary to teach me the right way if there is something wrong. I will learn from

[2021-03-09 16:34] ykws commented on #316
🙋

[2021-03-09 16:51] satsukies commented on #316
@ykws Thanks 👍  Assigned this issue to you!

[2021-03-09 16:53] ykws commented on #328
🙋

It looks good to just remove `jcenter()` from gradle, because the build was successful.

[2021-03-09 17:05] satsukies commented on #328
@ykws
That sounds good, assigned 👍
We look forward to your contribution 😄

[2021-03-10 01:09] #324 closed

[2021-03-10 01:10] #318 closed

[2021-03-10 01:11] #321 closed

[2021-03-10 01:12] #316 closed

[2021-03-10 01:57] takahirom commented on #317
Thanks! Assigned 👍

[2021-03-10 01:58] takahirom commented on #319
I'll check it later

[2021-03-10 03:45] hkusu commented on #331
✋ Can I try this?

[2021-03-10 03:47] satsukies commented on #331
@hkusu
Of course, Thank you!
We assigned this issue to you 👍

[2021-03-10 04:24] yoshida0261 commented on #106
🙋‍♂️

[2021-03-10 04:38] takahirom commented on #106
Thanks! Assigned 👍

[2021-03-10 13:16] yonce3 commented on #315
🙋‍♂️

[2021-03-10 13:39] #317 closed

[2021-03-10 18:11] mightyfrog commented on #312
I'll take care of it.

[2021-03-11 01:22] #23 closed

[2021-03-11 02:00] ocuto opened #344 "The splash screen is not referencing the in-app theme"
**Overview (Required)**
- The splash screen is not referencing the in-app theme.
- Device settings will be referenced.

**Steps To Reproduce**
prerequire: System theme is light.

1. Go to 'Setting Screen'
2. Tap on 'Theme Column'
3. Select on 'Dark'
4.Go to 'Splash Screen'

**Expected behavior**
Become a 'Dark' theme

**Screenshots**
![before](https://user-images.githubusercontent.com/34264859/110

[2021-03-11 07:17] #279 closed

[2021-03-11 12:22] takahirom commented on #320
@akeybako Sorry. 🙇  I need to upgrade Kotlin to upgrade Compose, so I'll upgrade Kotlin together. We look forward to your next contribution. 👍

[2021-03-11 12:23] #320 closed

[2021-03-11 12:44] #283 closed

[2021-03-11 14:28] takahirom commented on #334
I'm sorry to be late. I will report on the current situation for the time being.
I talked to the designer who designed Android for the time being, but it seems that it will take time to prepare the design, so it seems that it is not realistic to prepare the iOS design. She's also new to figma and wants to see the designs of other designers.
Therefore, it may be better to recruit designers at prese

[2021-03-11 14:31] #94 closed

[2021-03-11 14:43] akeybako commented on #320
OK!
I confused this error message of Compose Compiler.
`e: This version (1.0.0-alpha13) of the Compose Compiler requires Kotlin version 1.4.30 but you appear to be using Kotlin version 1.4.31 which is not known to be compatible.  Please fix your configuration (or `suppressKotlinVersionCompatibilityCheck` but don't say I didn't warn you!).
`

Even though 1.0.0-alpha13 doesn't exist.

[2021-03-11 15:42] myihsan commented on #334
Thanks!
Let me ask designers in my company if they have interests.
Just to confirm, there is no reward for the design, right?
I am not sure if this is normal in the designer world, so I will point it out while asking them.

[2021-03-12 00:24] takahirom commented on #334
I'm sorry, there is no reward.
I don't know if it's a reward, but I can only put the designer's name in the README.
https://github.com/DroidKaigi/conference-app-2021#designer

[2021-03-12 01:32] takahirom opened #349 "Update to ConstraintLayout Compose 1.0.0 alpha04"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything

 ## Links

-

[2021-03-12 02:45] akeybako commented on #349
🙋
This time for sure. XD

[2021-03-12 03:01] yurihondo commented on #349
@akeybako
Thanks!! Assigned!!

[2021-03-12 04:31] t-nonomura commented on #312
🙋

[2021-03-12 04:36] tomoya0x00 commented on #312
Thanks! Assigned 👍

[2021-03-12 05:39] t-nonomura commented on #312
@tomoya0x00
Thank you, but is a different person assigned?

[2021-03-12 05:41] tomoya0x00 commented on #312
@t-nonomura Oh, Sorry 🙇 Reassigned 👍

[2021-03-12 14:06] #312 closed

[2021-03-12 16:07] #20 closed

[2021-03-12 16:08] #349 closed

[2021-03-12 20:13] akihiro-n commented on #326
🙋‍♂️

[2021-03-13 00:31] watanavex opened #353 "DI framework for iOS targets"
## Kind (Required)
- Proposal

 ## Overview (Required)
Why not use a DI framework for iOS targets?
Koin and Kodein are compatible with KMM.
As it is now, I think Hilt is fine for Android target.
Because this app has to learn to experience Hilt as well.

 ## Links
- https://insert-koin.io
- https://github.com/Kodein-Framework/Kodein-DI

[2021-03-13 13:17] #315 closed

[2021-03-13 13:22] #106 closed

[2021-03-13 13:33] akihiro-n opened #355 "Proposal the feature to Swipe and switch tabs"
## Kind (Required)
- Proposal / Discussion

 ## Overview (Required)
I wanted to achieve a better UX and came up with this idea.
I have implemented a simple demo of this feature.
If you like, I want to incorporate this function.
I want to hear your opinion.

<img src="https://user-images.githubusercontent.com/30426163/111031378-a83dc980-844a-11eb-8098-1f8f127966af.gif" width="300" />

[2021-03-13 14:11] #118 closed

[2021-03-13 14:15] takahirom commented on #355
I think it is good! If something goes wrong, I think it's okay if we revert. 👍

[2021-03-13 14:18] takahirom opened #356 "Remove Ktor from model module dependencies"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We put Ktor in the model module to parse the URL.
I think that you can prevent the reference in the model module by parsing the URL when creating the class.
- https://github.com/DroidKaigi/conference-app-2021/pull/348/files#diff-1fcd54ff839a5ae2ba602b56b215fe6c8202961396253435a3d6995814aa5d35R18-R19

 ## Links

-

[2021-03-13 14:22] takahirom opened #357 "Separate MediaPlayer from RealFeedViewModel"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Putting it in makes the FeedViewModel bigger, and its functionality is completely platform-dependent, so I'd like to separate it.
 - How about FmPlayerViewModel etc.?

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/pull/348/files#diff-869051b887b09c40b445ee5ea2a14f99e5035876760b5468626d45138366a25eR49

[2021-03-13 14:24] takahirom opened #358 "Background playback for DroidKaigi FM"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You can now play DroidKaigi FM with the following PR. Please improve this so that it can continue in the background.
- https://github.com/DroidKaigi/conference-app-2021/pull/348

 ## Links

-

[2021-03-13 17:30] akihiro-n commented on #355
Thank you !
I will try this task 🙋

[2021-03-13 20:51] ocuto commented on #358
🙋‍♂️

[2021-03-14 00:25] takahirom commented on #358
Thanks! Assisted

[2021-03-14 08:53] #355 closed

[2021-03-14 08:55] takahirom opened #360 "Rename FeedTabs to FeedTab"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  This is because it is strange that the parent class of each tab has multiple meanings of "Tabs".

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L56

[2021-03-14 08:56] #70 closed

[2021-03-14 09:32] takahirom opened #362 "Map exception to AppError in NetworkService"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is an AppError class for the in-app, but it is not currently used.
 - To use this, enclose each method of NetworkService in try-catch and `throw e.toAppError()` in the catch.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/pull/361/files#diff-e1f7b74b80b19f6c4b01811cf17b69bff5dbd293c391fdab9b563e2a1cea614dR24-R37

[2021-03-14 09:36] takahirom opened #363 "Bring authApi processing to NetworkService"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - Currently, the processing of authApi is included in all network communication methods as follows.
 - I would like to solve this process by deleting the AuthApi class and bringing it to networkService.

[code]

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/pull/361/files#diff-e1f7b74b80b19f6c4b01811cf17b69bff5dbd293c391

[2021-03-14 09:41] takahirom opened #364 "Show error snackbar when refresh error"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - `try-catch` the following and send it to the `effectChannel`.
https://github.com/DroidKaigi/conference-app-2021/blob/2aca45d4be764b67dd9b56057b9fededc3939532/uicomponent-compose/main/src/main/java/io/github/droidkaigi/feeder/viewmodel/RealFeedViewModel.kt#L45

[code]

 - This can be checked using airplane mode.

 ## Links

-

[2021-03-14 10:50] tomoya0x00 opened #365 "Improve DroidKaigi FM play/pause button"
## Kind (Required)

- Improvement

 ## Overview (Required)

- In dark theme, the play/pause button  is hard to find
- We want to improve it
  - For example, specify the button color to white by tint and add a semitransparent black circle background behind the button
  - Perhaps, we don't need to change the color depending on the normal/dark theme

## Screenshots

### Normal theme

<img src="https:

[2021-03-14 11:07] ked4ma commented on #364
:hand:

[2021-03-14 11:08] takahirom commented on #364
Thanks Assisted!

[2021-03-14 11:49] #364 closed

[2021-03-14 11:54] ked4ma commented on #360
:hand:

[2021-03-14 11:55] takahirom commented on #360
Thanks as always!

[2021-03-14 12:55] #360 closed

[2021-03-14 13:06] ked4ma commented on #363
:hand:

[2021-03-14 13:07] takahirom commented on #363
Thanks! Assigned!

[2021-03-14 13:09] ked4ma commented on #362
:hand:
i'll do after #363 (i felt it may be easier to do this after that. / prevent code confliction)

[2021-03-14 15:41] #363 closed

[2021-03-14 16:17] #331 closed

[2021-03-14 16:31] hkusu opened #373 "Crash on low API level terminals"
**Overview (Required)**
- Crash on low API level terminals

**Steps To Reproduce**

Boot on API level 23 device.

**Expected behavior**

**Screenshots**

<img width="800" alt="スクリーンショット 2021-03-15 1 26 51" src="https://user-images.githubusercontent.com/6157540/111076017-d942fa80-852d-11eb-947e-1ef2069ea40a.png">

**Env:**

Reproduce on all API level 23 devices

**Additional context**

Probably rel

[2021-03-14 17:56] akihiro-n commented on #357
🙋

[2021-03-14 18:01] satsukies commented on #357
@akihiro-n  Thanks! We assigned this issue to you 👍

[2021-03-14 18:06] akihiro-n opened #374 "Implement the function to switch tabs of Other Screen by swiping"
## Kind (Required)
- Improvement

 ## Overview (Required)
- Please implement the function to switch tabs by swiping on Other Screen.
- This feature is already implemented in the Feed Screen. #359

 ## Links
- #355

[2021-03-15 01:24] takahirom opened #376 "On the Home tab, swipe right to display the drawer"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Probably it seems that it disappears by the process of switching the following tabs. Can't you make both works well?

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L150

[2021-03-15 01:25] takahirom opened #377 "Link privacy policy"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is a link to the privacy policy in AboutThisApp, but it's not working. Please change so that you can transition to the link from there.

 ## Links

- http://www.association.droidkaigi.jp/privacy.html

[2021-03-15 01:27] takahirom opened #378 "Show Snackbar above the navigation bar"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I just don't know how to do it. Is there a good solution?
![image](https://user-images.githubusercontent.com/1386930/111092288-ffda5300-8578-11eb-957e-e224ea441776.png)

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/pull/366

[2021-03-15 01:31] takahirom opened #379 "The theme is not reflected when returning from the setting to the fixed theme to the system theme"
**Overview (Required)**
-

**Steps To Reproduce**

https://user-images.githubusercontent.com/1386930/111092426-68293480-8579-11eb-93f9-2d760e2c3df6.mp4

**Expected behavior**
If it's clear

**Screenshots**
If applicable

**Env:**
 - Device: Pixel3
 - OS: 11.0
 - App Version or the branch main

**Additional context**
Any other notes

[2021-03-15 01:32] takahirom opened #380 "Cute Android robot animation"
## Kind (Required)

- Improvement

 ## Overview (Required)

-
![image](https://user-images.githubusercontent.com/1386930/111092561-bf2f0980-8579-11eb-99af-edfaae01ea98.png)

 ## Links

-

[2021-03-15 01:34] takahirom opened #381 "Display like audio spectrum during DroidKaigi FM playback"
## Kind (Required)

- Improvement

 ## Overview (Required)

- You don't have to actually make it from the sound. Is it possible to display an animation on the image during playback?

 ## Links

-

[2021-03-15 09:32] myihsan commented on #334
The inviting is ongoing. Once there is one designer who raises his/her hand, let's schedule a meeting.

However, I found out that attending the meeting without some base information is already a hurdle for participation.
So it would be very helpful for the designers who have interests but not sure if they have enough time to answer the questions below as possible before the meeting.

- Work Period

[2021-03-15 11:03] anandwana001 opened #384 "Remove Unused Import"
## Kind (Required)

Choose the suitable template if exists.
- Improvement

 ## Overview (Required)

- Remove the unused import

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/de419ff444be83b94b1347d6597a90f36306dcab/uicomponent-compose/other/src/main/java/io/github/droidkaigi/feeder/about/AboutThisApp.kt#L27

[2021-03-15 11:06] takahirom commented on #384
Thank you for reporting!

[2021-03-15 11:27] anandwana001 opened #385 "Introduce UI Testing for AboutThisApp.kt"
## Kind (Required)

Choose the suitable template if exists.

- Improvement

 ## Overview (Required)

- Write test cases for About Screen `AboutThisApp.kt`

## Steps
1. Create a `androidTest` package inside `conference-app-2021/uicomponent-compose/other/src`
2. Create a same sub-packages `conference-app-2021/uicomponent-compose/other/src/androidTest/java/io/github/droidkaigi/feeder/about/AboutThisA

[2021-03-15 13:15] takahirom commented on #385
Thank you!!

[2021-03-15 13:17] #357 closed

[2021-03-15 13:19] #362 closed

[2021-03-15 14:55] hkusu commented on #373
I will fix it 💪

[2021-03-15 15:28] tomoya0x00 commented on #373
Thanks! Assigned 👍

[2021-03-15 16:31] akihiro-n commented on #381
🙋‍♂️

[2021-03-15 18:19] akihiro-n commented on #381
I'm really sorry. :crying_cat_face:
I tried a little, but
I didn't seem to be able to achieve the animation I expected, so please remove my assign. :cry:

[2021-03-16 01:24] takahirom commented on #381
It's okay! We are waiting for your other challenge again! 👍

[2021-03-16 01:27] takahirom commented on #334
Thank you. I'll prepare it with the designer. 🙏

[2021-03-16 13:41] akihiro-n commented on #381
Thank you! 😸
If I come up with a good animated idea, I might try again. :smirk_cat:

[2021-03-17 01:28] takahirom commented on #334
I talked to the designer about this.

Work Period (deadline)
It hasn't been decided in particular, but it seems that contributors will easily gather within a month.

Function list
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app
You can check the feed
You can check about this app
You can check the contributors
You can check the staff
You can check the settings
You can

[2021-03-17 01:29] #373 closed

[2021-03-17 01:30] takahirom commented on #385
If you do this you can reference this test. https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/feed/src/androidTest/java/io/github/droidkaigi/feeder/feed/FeedItemTest.kt

[2021-03-17 01:35] anandwana001 commented on #385
I was waiting if any contributor shows up, else I am happy to work on this at weekend.

[2021-03-17 01:41] takahirom opened #387 "Apply filter design"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  Filter design is improved
![image](https://user-images.githubusercontent.com/1386930/111401711-28935180-870d-11eb-8b37-7d23709b6268.png)
![image](https://user-images.githubusercontent.com/1386930/111401801-537da580-870d-11eb-80b6-e3d315504d5c.png)

 - https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-i

[2021-03-17 01:43] takahirom opened #388 "Change design when filtered"
## Kind (Required)

- Improvement

 ## Overview (Required)
 - no animation needed
 - filter not exits
![image](https://user-images.githubusercontent.com/1386930/111401903-8e7fd900-870d-11eb-9ef6-225b4d24a557.png)

 - filter exits
![image](https://user-images.githubusercontent.com/1386930/111401858-74de9180-870d-11eb-8ff6-337da7a33418.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmS

[2021-03-17 01:44] takahirom opened #389 "Animate when filter"
Blocked by https://github.com/DroidKaigi/conference-app-2021/issues/388
## Kind (Required)

- Improvement

 ## Overview (Required)

- Animate layout change for #388

 ## Links

-

[2021-03-17 05:52] myihsan commented on #334
Thanks a lot!
Let me share with the designers.

なるほど、もしこちらに余裕かつ興味があるデザイナーがいなければ、ぜひこちらの協力をさせていただきたいです🙇‍♂️

[2021-03-17 08:48] myihsan commented on #334
Here is one designer who raises her hand!
Her current situation is as below:
- Busy before April
  - Like to join if it's fine to change the deadline to the end of April
- Prefer text-based communication

Is it ok for you guys?

[2021-03-18 00:51] KKusumi commented on #384
✋

[2021-03-18 01:15] tomoya0x00 commented on #384
Thanks! Assigned 👍

[2021-03-18 01:58] KKusumi commented on #377
✋

[2021-03-18 01:58] #384 closed

[2021-03-18 03:03] #328 closed

[2021-03-18 03:19] punchdrunker commented on #328
#338 solved partially this issue. But some libs are still hosted on the only JCenter.
So we'll create some issues for the rest of the libraries hosted on JCenter for the future.

[2021-03-18 03:32] punchdrunker opened #392 "Remove usage of jcenter() from buildSrc module"
## Kind (Required)

 Improvement

 ## Overview (Required)

One of the next steps of #338 and #328.

`kotlin-dsl` is hosted on JCenter.
After it migrates to mavenCentral , we can replace `jcenter()`  with `mavenCentral()`

 ## Links

- #328
- #338

[2021-03-18 03:34] punchdrunker commented on #392
label is `welcom_contribute`, but we can't solve this issue until `kotlin-dsl` is hosted on MavenCentral.

[2021-03-18 03:40] punchdrunker opened #393 "Remove usage of jcenter() from build.gradle of the project root"
## Kind (Required)

Improvement

 ## Overview (Required)

One of the next steps of #338 and #328.
Remove usage of `jcenter()` from project root's build.gradle to solve the warning about jcenter().

These libs are still hosted on JCenter, so after they migrate to Maven Central,  we can solve this issue.
- kotlinx-html-jvm
- kotlinx-collections-immutable-jvm

 ## Links

- #328

[2021-03-18 13:23] k-shinn commented on #377
🙋‍♂️

[2021-03-18 13:24] mhidaka commented on #377
Thank you! We assigned you.

[2021-03-19 12:48] ShebangDog opened #394 "Switch only the theme once"
**Overview (Required)**

**Steps To Reproduce**

1. Go to Setting
2. Click on Theme
3. Clink on any theme
4. Clink on any theme
4. See app color

**Expected behavior**
Change to the selected theme

**Screenshots**

https://user-images.githubusercontent.com/38370581/111781982-d2383580-88fb-11eb-8ebc-4952c6beffc9.mp4

**Env:**
 - Device: Pixel3a
 - OS: 11.0
 - App Version or the branch [master]

**A

[2021-03-19 12:51] takahirom commented on #394
Probably related to this?
https://github.com/DroidKaigi/conference-app-2021/issues/379

Oh! Thank you for your information!

[2021-03-19 12:55] ShebangDog commented on #394
Yes, it is related.
Sorry, I missed it.

[2021-03-19 14:46] takahirom commented on #334
Thank you! It's okay.

[2021-03-20 06:13] #394 closed

[2021-03-20 07:14] watanavex commented on #353
I'll work on it as per my proposal!

[2021-03-20 07:15] tomoya0x00 commented on #353
Thanks! Assigned 👍

[2021-03-20 08:08] watanavex opened #395 "How to solve flow on iOS?"
## Kind (Required)

- Discussion

 ## Overview (Required)
- Subscribing to flow from swift is a hassle
- It cannot be unsubscribed
- I think [this flow wrapper](https://github.com/touchlab/SwiftCoroutines/blob/master/shared/src/iosMain/kotlin/co/touchlab/swiftcoroutines/SwiftCoroutines.kt) is a good way.
- If you have any other ideas, I would love to know!

 ## Links
- https://github.com/touchlab/

[2021-03-20 12:25] takahirom commented on #395
👀

[2021-03-20 12:27] takahirom commented on #395
I think the method using suspend wrapper is good.👍
 A library called koru automates the task of creating a wrapper for it, but on the scale of DroidKaigi you may want to write a wrapper each time.

[2021-03-20 13:06] myihsan commented on #334
Thanks for the chance!
This would be a significant improvement for the iOS development, which would attract more iOS engineers who have interests in KMM and SwiftUI.

I will contact you as soon as there is any progress from the designer.

[2021-03-20 17:30] akihiro-n commented on #356
🙋

[2021-03-21 01:31] mhidaka commented on #356
Thank you for your quick work 👍

[2021-03-21 10:42] ked4ma commented on #387
✋

[2021-03-21 11:12] yurihondo commented on #387
@ked4ma
Thanks! Assigned🙇

[2021-03-21 12:16] watanavex commented on #395
I think the same thing.
Thank you!

[2021-03-21 12:42] ked4ma commented on #378
:raised_back_of_hand:

[2021-03-21 12:48] takahirom commented on #378
Thanks!

[2021-03-21 16:52] #249 closed

[2021-03-22 01:21] takahirom commented on #395
Thank you! Please let me know if there is anything else.

[2021-03-22 01:21] #395 closed

[2021-03-22 01:30] #387 closed

[2021-03-22 01:31] #378 closed

[2021-03-22 15:20] b4tchkn commented on #380
I want to challenge🙋‍♂️

[2021-03-22 15:36] KeithYokoma commented on #380
@b4tchkn Thanks for applying! I assigned this issue to you 👍

[2021-03-23 08:52] #356 closed

[2021-03-25 02:02] #377 closed

[2021-03-27 06:37] #380 closed

[2021-03-29 07:33] tkhs0604 commented on #230
@takahirom
I've tried this issue several times, but I could not resolve it.
So, I give up this issue. I am terribly sorry for commenting late.

[2021-03-29 07:37] takahirom commented on #230
Thank you for your challenge! I look forward to your next challenge 👍

[2021-03-29 09:41] yasuhiroki commented on #230
🙋‍♂️

[2021-03-29 09:42] mhidaka commented on #230
@yasuhiroki Thank you for your ✋ ! We assigined.

[2021-03-29 14:17] clockvoid opened #403 "We can update flipper to 0.82.1 because the issue is solved."
## Kind (Required)

Choose the suitable template if exists.

- Improvement

 ## Overview (Required)

- Related with this comment:
[<img src="https://user-images.githubusercontent.com/6965122/112849310-e6dab180-90e3-11eb-9790-7c916273ca7b.png" width="350" />](https://github.com/DroidKaigi/conference-app-2021/blob/3420c1deaa4f1211e5f90f34db379b24399911fa/buildSrc/src/main/java/Dep.kt#L129)
- When I

[2021-03-29 22:22] takahirom commented on #403
Thank you for reporting!  I attached a pr welcome label.

[2021-04-04 03:11] ykws commented on #393
I tried it, but not work, it was same as the following comment.
https://github.com/Kotlin/kotlinx.collections.immutable/issues/96#issuecomment-811667703

On the other hand `kotlinx-html-jvm` is work fine!

[2021-04-05 07:29] takahirom commented on #393
Is there anything we can do?

[2021-04-06 00:53] takahirom commented on #393
Let's wait for the transition!

[2021-04-06 01:22] punchdrunker commented on #393
@ykws Thank you for your investigation.
I don't think removing jcenter is an urgent task, so I suggest that we wait for their migration to Maven Central for some months.

[2021-04-07 15:21] myihsan commented on #334
FYI, the designer is going to start the design this weekend.

[2021-04-07 16:21] ykws commented on #393
@takahirom @punchdrunker
No, sorry. I agree with waiting.

[2021-04-07 18:03] 175atsu commented on #388
✋
i want to try

[2021-04-08 00:45] takahirom commented on #388
Thanks! Assigned 👍

[2021-04-08 01:00] takahirom commented on #334
Thank you! 🎉
I'd like to ask if it's better to do something like onboarding MTG or ask a text-based question what you want to know. 👀

[2021-04-08 09:18] watanavex opened #407 "Error when building with Android Canary14？"
Is there any problem in your environment?

## Kind (Required)

- Other

 ## Overview (Required)
My environment
macOS Big Sur 11.2.1
KMM Plugin 0.2.3(203-1.4.32-357-IJ)-52

- It seems to be caused by the version of Android Gradle Plugin.

| AS Canary 12<br>AGP 7.0.0-alpha12 | AS Canary 13<br>AGP 7.0.0-alpha13 | AS Canary 13<br>AGP 7.0.0-alpha14  | AS Canary 14<br>AGP 7.0.0-alpha14 |
|--|--|--|--|
|

[2021-04-08 10:02] watanavex commented on #407
I'm sorry, but this report may be wrong.

`AS Canary 12&AGP 7.0.0-alpha12`
This combination also caused a situation where the reference was not found in the iOS code.
I will try to sort out the situation a bit more.

[2021-04-08 10:18] myihsan commented on #334
It seems like the information here https://github.com/DroidKaigi/conference-app-2021/issues/334#issuecomment-800724327 is enough for now.
Is there any news?

The design will share the intermediate design once she is ready.

[2021-04-08 12:00] watanavex commented on #407
`AS Canary 12&AGP 7.0.0-alpha12`.
For this combination, there is no problem in 87e75aa. But in e5c8f25, I have a problem with the IOS code😂
- Could not find io.ktor:ktor-client-ios
- Unable to resolve the reference in iOS code.

[2021-04-08 12:02] watanavex commented on #407
That's my current guess.

These are problems unrelated to the plugin version
- Could not find io.ktor:ktor-client-ios
- Unable to resolve the reference in iOS code.

These are problems related to the plugin version
- There is no feature named GRADLE_METADATA
- oss-licenses-plugin and crashlytics throwing errors during build

[2021-04-08 13:23] myihsan commented on #407
Here is my thought.

https://docs.gradle.org/7.0-rc-1/release-notes.html
It seems like this flag is removed and it has been inactive since 6.0.
So we may just remove `enableFeaturePreview("GRADLE_METADATA")` from `settings.gradle`?

Missing `Dep.Ktor.bom` in `iosMain.dependencies`?

https://github.com/DroidKaigi/conference-app-2021/blob/e5c8f2542f517acdd16ccc0f79e991742d561d2d/data/api/build.gradl

[2021-04-08 16:26] watanavex commented on #407
@myihsan  Thank you❗️

This problem has been resolved.
No more support for hierarchical structures.
https://github.com/DroidKaigi/conference-app-2021/pull/402

[2021-04-09 01:00] takahirom commented on #407
Thank you for your advice! I'm trying to fix it below.
https://github.com/DroidKaigi/conference-app-2021/pull/408

[2021-04-09 01:07] #407 closed

[2021-04-09 01:13] takahirom commented on #334
Thank you! There are no other changes.
Please tell me anytime. 🙏

[2021-04-09 10:55] daichikuwa0618 commented on #323
@takahirom
How about [AAKira/Napier](https://github.com/AAkira/Napier) ?
This logger library is inspired by Timber which you desire.

This features

- sending to Crashlytics
- looks simple interface (to me)
- again, inspired by Timber

If this is not suit for this project, it may be good to see [AAKira/Kotlin-Multiplatform-Libraries](https://github.com/AAkira/Kotlin-Multiplatform-Libraries#logging

[2021-04-10 10:32] yasuhiroki commented on #230
note)
behavior images
https://github.com/DroidKaigi/conference-app-2021/pull/410#issuecomment-817089830

[2021-04-11 02:02] #388 closed

[2021-04-12 00:21] myihsan commented on #334
Here is one quick question.

Will there a native detail page for the feed?
This may affect the design.
- Web page: No need to use [Navigation Bar](https://developer.apple.com/design/human-interface-guidelines/ios/bars/navigation-bars/) because of the specification of `SFSafariViewController` which displays web pages.
- Native page: Prefer to use [Navigation Bar](https://developer.apple.com/design/

[2021-04-12 01:06] takahirom commented on #334
The detail page does not exist.
On Android, it is displayed on the Web using Chrome Custom Tab.
I think it will probably be Safari View Controller on iOS.

[2021-04-14 01:33] takahirom commented on #323
Thank you for your suggestion.
I was worried that there was no update recently. 😅
However, this library uses Kotlin 1.4.0, and ABI compatibility version is 1.4.1, so there seems to be no problem.
https://github.com/JetBrains/kotlin/blob/v1.4.0/compiler/util-klib/src/org/jetbrains/kotlin/library/KotlinAbiVersion.kt#L34
There is no problem from the ABI side, but there is a risk that code highlightin

[2021-04-16 00:50] takahirom opened #412 "Remove `All` toggle"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Because it is different from the behavior of the check box.
All toggles are not needed. It exists in Figma, but the designer just can't erase it because she doesn't have time. 🙏
![image](https://user-images.githubusercontent.com/1386930/114955976-cf981400-9e98-11eb-8710-191f793514a4.png)

 ## Links

-

[2021-04-16 00:53] takahirom opened #413 "When filtered, the number of applicable items is displayed even if it is closed."
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, the number of corresponding items disappears when the filter is closed.
- I want to judge the display based on whether it is filtered or not.

https://user-images.githubusercontent.com/1386930/114956267-7b416400-9e99-11eb-9f5f-e8e62a0d4517.mp4

 ## Links

-

[2021-04-16 00:57] takahirom opened #414 "Make the image smaller when filtered"
## Kind (Required)

- Improvement

 ## Overview (Required)

- When not fileterd
![image](https://user-images.githubusercontent.com/1386930/114956587-294d0e00-9e9a-11eb-9bb8-1b3ee6e187f9.png)
- When filtered
![image](https://user-images.githubusercontent.com/1386930/114956571-1d614c00-9e9a-11eb-8191-025318c794ff.png)

 ## Links

-

[2021-04-18 09:07] ked4ma commented on #412
i'll do this since i had added this checkbox :raised_back_of_hand:

[2021-04-18 09:23] takahirom commented on #412
Assigned! And I will look at your implementation 😄

[2021-04-18 09:54] ked4ma commented on #413
:raised_back_of_hand:

[2021-04-18 10:02] takahirom commented on #413
Thanks! Assigned 👍

[2021-04-18 10:08] #412 closed

[2021-04-18 19:36] ocuto commented on #358
@takahirom
I just checked, and it seems that background playback is already available...(at 08173eb4cb665e625e8e52735687c681c9881437)

[2021-04-18 23:47] takahirom commented on #358
Thank you for checking. 👍
I think the current implementation will stop when the process dies.  By displaying the notification and playing the music in the service, you can continue playing like a music player.  Please refer to the following for details.  However, the following method is a little difficult, so there is no problem just running it with the service.
https://developer.android.com/guide

[2021-04-19 00:19] fummicc1 commented on #414
I would like to undertake this isuue!
Please tell me how much smaller a filtered image is than initial one, or show me a figma link?🙏

[2021-04-19 01:04] takahirom commented on #414
Thank you for checking this!
It looks 20dp 📏
![image](https://user-images.githubusercontent.com/1386930/115168597-81804c00-a0f6-11eb-9ebf-a3be8e142f8c.png)
https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=1485%3A417

[2021-04-19 10:26] ocuto commented on #358
Thanks for the reply 🙏
I see!
I will refer to the link and proceed with the implementation.

[2021-04-21 01:10] punchdrunker commented on #393
Apparently, now we can use kotlinx.collections.immutable in maven central.
https://github.com/Kotlin/kotlinx.collections.immutable

Regarding kotlinx.html, we can fix this issue after this PR is merged.
https://github.com/Kotlin/kotlinx.html/issues/173

[2021-04-21 01:29] punchdrunker commented on #392
Now kotlin-dsl is available on MavenCentral
https://mvnrepository.com/artifact/org.gradle.kotlin.kotlin-dsl/org.gradle.kotlin.kotlin-dsl.gradle.plugin

[2021-04-23 00:16] #413 closed

[2021-04-23 00:18] #353 closed

[2021-04-25 08:10] takahirom commented on #393
Thanks! I removed `blocked by external`

[2021-04-26 12:35] ocuto commented on #358
@takahirom
Sorry, I did some research, but this issue seems to be difficult for me...
I'll unassign it once.

[2021-04-26 12:51] takahirom commented on #358
Thank you for your challenging! I look forward to your next contribution!👍

[2021-04-30 01:27] #414 closed

[2021-05-01 06:21] anandwana001 commented on #379
Working correctly for me. @takahirom

![droidkaigi_theme_settings](https://user-images.githubusercontent.com/25057618/116773546-71ac2480-aa73-11eb-8441-2df28fbf76a8.gif)

[2021-05-01 06:26] anandwana001 commented on #376
@takahirom  I think this issue is solved.
The Navigation Drawer and the tabs are in the sync state.
Is there any other specific issue we wanted to solve here?

[2021-05-01 06:28] anandwana001 commented on #374
I think this issue is good to close as it is solved in #406

[2021-05-01 07:39] anandwana001 opened #425 "Drawable-night is not accessible"
**Overview (Required)**
- In the dark mode, images are not coming from the `drawable-nigth`.

**Steps To Reproduce**

1. Go to Settings and change theme to dark
2. Go to about and see the image logo

**Expected behavior**
In the dark theme image should come from `drawable-nigth`

**Screenshots**
<img src="https://user-images.githubusercontent.com/25057618/116775006-f7cd6880-aa7d-11eb-9924-64d3662e

[2021-05-01 07:40] anandwana001 commented on #425
@takahirom Let me know your thoughts on this.

[2021-05-01 07:51] anandwana001 commented on #282
This is working for me.

[2021-05-01 08:46] takahirom commented on #379
I think it was fixed with the Compose update. Thank you!

[2021-05-01 08:46] #379 closed

[2021-05-01 09:02] takahirom commented on #425
👀

[2021-05-01 09:16] takahirom commented on #425
I see, the configuration of Activity is in light mode, but it seems to be happening because it is in night mode in the application.
I think it may be possible to change the theme of Activity by using AppCompatDelegate.

[code]

[2021-05-01 10:04] takahirom opened #426 ":data:api:iosTest is not eneded in GitHub Actions"
**Overview (Required)**
- The title says everything

**Steps To Reproduce**

1. Run CI

**Expected behavior**
end test

data:api:iosTest did not finish in 3 hours.

[code]

**Additional context**

This test can run on local test 😭

[2021-05-03 05:49] watanavex commented on #426
It may be caused by the UnitTest not using multi-threaded coroutines. 👀
Here is a result of this command `./gradlew :data:db:dependencies`.

at 2ff7cad
<img width="1122" alt="スクリーンショット 2021-05-03 14 44 04" src="https://user-images.githubusercontent.com/3221619/116844611-837dfb00-ac1e-11eb-8a69-5f64a4e78490.png">

at 8a8e098
<img width="1036" alt="スクリーンショット 2021-05-03 14 42 59" src="https://user-im

[2021-05-03 09:36] #403 closed

[2021-05-03 09:43] #425 closed

[2021-05-03 09:46] takahirom commented on #426
Thank you! That's exactly what seems to be the cause of the problem.
The iOS configuration may be something special. 👀

[2021-05-04 03:06] takahirom commented on #282
Thank you for reporting! I will close this issue 👍

[2021-05-04 03:06] #282 closed

[2021-05-05 11:19] nobonobopurin commented on #334
Hello, I'm Choi, a designer. I am happy to participate in this project as a designer.
The UI for the iOS app is complete, so now it can be shared.

 Link : [https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-iOS?node-id=0%3A1](url)

The colors and shapes have been adapted to Android UI, but the major changes are as follows.

-  Use Bottom navigation instead of Navigatio

[2021-05-07 03:17] takahirom commented on #334
Thank you! I'll check!
@myihsan
Please comment if you have any advice from the perspective of an iOS engineer.

[2021-05-07 03:41] takahirom commented on #334
I checked a little. I think it's easy to understand and has a very good design.
It seems that the composition of the screen has changed quite a bit.

One thing I'm worried about is that it may not be possible to use common logic between iOS and Android.
I'm sorry I couldn't share this issue because I couldn't anticipate it. I think I should have asked you to share it when I started making it a lit

[2021-05-07 06:20] myihsan commented on #334
I have done it before the sharing above.
The only remaining issue is the loading screen better not cover the full screen.

I will try to ask more iOS engineers for advice next weak.

I think it also has a good side for practice the design for the shared KMM module.

[2021-05-07 11:00] nobonobopurin commented on #334
Is it okay to modify the design so that the loading screen no longer covers the full screen?
I forgot to change to a Skeleton screen.

[2021-05-09 12:04] myihsan commented on #334
It may not be necessary after I demonstrate the way we implement Skeleton screen by SwiftUI.
So please keep your time for some new proposal or advice from other iOS engineers next week🙇‍♂️

[2021-05-10 00:40] #230 closed

[2021-05-14 08:39] myihsan commented on #334
@takahirom
The review by six iOS engineers in YUMEMI Inc., including me, has ended.
The conclusion is that an iOS engineer can implement this design with [SwiftUI-Introspect](https://github.com/siteline/SwiftUI-Introspect) (A library that helps us deal with some iOS components that hard to custom in SwiftUI) without too many efforts. So this design looks good for us.

Is our review enough for you?

[2021-05-15 08:48] takahirom commented on #334
Thank you! I will close the issue and put it in the README. 🎉
@nobonobopurin
I'd like to list it below as a designer. Is there any link you would like to use?
https://github.com/DroidKaigi/conference-app-2021#designer

[2021-05-15 09:21] takahirom commented on #67
@ikemura23 Thank you for raising your hand on this issue. 👍 How is the progress of this issue?

[2021-05-16 07:54] takahirom opened #434 "Merge Dep.kt `Jetpack` and `AndroidX` Object"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It's almost the same, so it doesn't matter which one, but I want to put them together.

https://github.com/DroidKaigi/conference-app-2021/blob/main/buildSrc/src/main/java/Dep.kt#L110-L122
https://github.com/DroidKaigi/conference-app-2021/blob/main/buildSrc/src/main/java/Dep.kt#L28-L33

 ## Links

-

[2021-05-16 12:47] nobonobopurin commented on #334
@takahirom
Thank you! 🎉
Please use the link below:
[](https://github.com/nobonobopurin)

[2021-05-17 14:41] ikemura23 commented on #67
@takahirom Sorry, this issue restart from 5/21 🙇

[2021-05-17 23:39] takahirom commented on #334
Thank you! I will update README 👍

[2021-05-17 23:39] #334 closed

[2021-05-17 23:42] takahirom commented on #67
Thank you! I'm sure this feature will be useful in the future. 👍

[2021-05-23 10:02] takahirom opened #436 "Migrate ViewModel to hiltViewModel()"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Now, We can use navigation scoped ViewModel.
- I think we can use it 😄

 ## Links

-

[2021-05-23 11:37] jimgoog commented on #436
https://twitter.com/JimSproch/status/1396429288493109248

[2021-05-23 12:53] takahirom commented on #436
Thank you for your opinion.  Ideally I would do that too.  👍
Currently, it is easy for an Android engineer to work with Android Navigation and ViewModel, and there are practices introduced in I/O.
Also, although not ideal, DroidKaigi uses modularization to reduce platform dependency a bit.
For details, narrow the scope where you can see Android ViewModel and Hilt as much as possible, create an int

[2021-05-26 01:39] takahirom opened #439 "About the engineer who is the leader of iOS App"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- I needed someone who knew about iOS apps to get them going.
- When I talked to ito-san (@ry-itto) , who was the leader of the iOS app last year, he agreed to see it again this year.
- I talked a bit about architecture and heard that the current standard, Composable Architecture, would be good. I would like to ask if there is a

[2021-05-26 07:49] ry-itto commented on #439
Thank you!
I'll continue this app's iOS leader.

I think to use following libraries and structures.

---

### Architecture
The Composable Architecture

### Project Definition
Swift Package Manager Project Definition
- Resources
  - https://github.com/pointfreeco/isowords
  - https://speakerdeck.com/ryitto/ca-dot-swift-number-14

### Package Manager
Swift Package Manager

### Modules
- Feature Modu

[2021-05-27 01:11] #374 closed

[2021-05-27 14:51] ry-itto opened #441 "[iOS] Re-initialize iOS Project"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Re-initialize iOS Project to satisfy following requirements.
  - Use "Swift Package Manager Project Definition".
    - If this project should divide configuration(such as `Debug` and `Production` ), please divide Xcode Project.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/issues/439#issuecomment-848549228
- [Swift PMと

[2021-05-27 14:53] ry-itto opened #442 "[iOS] Setup iOS GitHub Actions workflow"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title.
  - Please setup following workflows.
    - Danger(for SwiftLint)
    - Testing

 ## Links

-

[2021-05-29 02:53] takahirom commented on #441
👀

[2021-05-29 02:55] takahirom opened #444 "Can not open chrome custom tab"
**Overview (Required)**
- When you open chrome  custom  tab, the app is crash

**Steps To Reproduce**

1. Go to 'news'
2. Click on 'news'
4. See error

**Expected behavior**
If it's clear
Open chrome  custom  tabs

**Screenshots**
If applicable

**Env:**
 - Device: Pixel3
 - OS: 12 beta 1
 - App Version or the branch main

**Additional context**
Any other notes

[2021-05-31 01:17] takahirom opened #445 "What we need with Kotlin Multiplatform for iOS"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

 - I want to sort out what we need a little.

according to https://github.com/DroidKaigi/conference-app-2021/pull/415#issuecomment-824710629

- Implement Suspend Wrapper.
https://touchlab.co/kotlin-coroutines-rxswift/

- Implement Authenticator in Swift

Authenticator

[code]

 ## Links

-

[2021-05-31 01:19] takahirom commented on #445
@watanavex
Is this the same recognition? 🙏

[2021-05-31 12:15] ry-itto opened #446 "[iOS] Create common components"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Create common components in `Component` module.
  - Tags
  - Message Bar
  - Cards
    - Small
    - Medium
    - Large
- Implement action with callbacks. Such as `**tapAction: @escaping () -> Void`.
- Please implement with Xcode Previews 👍🏼

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh

[2021-05-31 12:17] ry-itto opened #447 "[iOS] Change TabBar tint color"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Currently, the tabBar tint color doesn't match the design. Please match that tint color to design.

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=18%3A2302)

[2021-05-31 12:27] ry-itto opened #448 "[iOS] Create About Screen (UI) - staff/contributor -"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Please implement about screen UI (staff/contributor view only).
- No need to implement the part that calls the API through KMM module.

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797)

[2021-05-31 12:30] ry-itto opened #449 "[iOS] Create Setting Screen (UI)"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Please implement Setting Screen UI.
- No needed to implement  logic (Changing Language, Toggle theme).

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797)

[2021-05-31 12:36] ry-itto opened #450 "[iOS] Create Media List Screen Frame"
## Kind (Required)
- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Please implement Media - List Screen.
  - It's ok to implement List items(Cards) with empty views. (This components will be created by #446 )

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797)

[2021-05-31 12:38] ry-itto opened #451 "[iOS] Create Favorites Screen Frame"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Please implement Favorites Screen Frame.
  - It's ok to implement items(Cards) with empty views.

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797)

[2021-05-31 12:42] ry-itto opened #452 "[iOS] Create Home Screen Frame"
## Kind (Required)
- Improvement

 ## Overview (Required)

- This issue can work after #443 merged.
- Please implement Home Screen Frame.
  - It's ok to implement items(Cards) with empty view.
  - Please implement questionnaire cell.

 ## Links

- [Figma](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797)

[2021-05-31 14:19] #441 closed

[2021-05-31 16:30] fummicc1 commented on #449
I would like to try this task✋

[2021-05-31 16:46] ry-itto commented on #449
Thanks! I will assign this issue to you 👍🏼

[2021-06-01 00:23] ry-itto opened #453 "Create Module for Localization and Apply"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please create a module for localization(Localizable.strings will be placed here.).

 ## Links

-

[2021-06-01 00:24] ostk0069 commented on #453
I want to take this ✋

[2021-06-01 00:27] ry-itto commented on #453
thanks!
assigned! 👍 :+1

[2021-06-01 00:44] ry-itto commented on #452
I will do this issue with ComposableArchitecture.
I'm going to make this implementation a sample of this App's architecture.

[2021-06-01 00:56] shun-sasano commented on #447
I would like to do this task！🙏

[2021-06-01 01:24] ry-itto commented on #447
@shun-sasano
Thanks!
Assigned 👍🏼

Currently, the use of colors is not working in the main branch, so I would appreciate it if you could incorporate [this change](https://github.com/DroidKaigi/conference-app-2021/pull/454) and work on it 🙏🏼

[2021-06-01 01:55] shun-sasano commented on #447
@ry-itto
Thank you!
understood!👍

[2021-06-01 02:33] watanavex commented on #445
@takahirom  Thank you!
- Implement Suspend Wrapper
[Suspend wrapper has already been implemented.](https://github.com/DroidKaigi/conference-app-2021/tree/main/ios-framework/src/iosMain/kotlin/io/github/droidkaigi/feeder/repository)
This is a good match with the README described by @ry-itto, and I am aware of no problems.

- Implement Authenticator in Swift
We need this. I want to do it!!

[2021-06-01 05:22] #447 closed

[2021-06-01 05:41] #453 closed

[2021-06-01 11:08] ry-itto commented on #439
@takahirom

I needed reviewer for my Pull Request, so I want to add reviewer of iOS App.
@ostk0069 already reviewed my Pull Request and contributed.
So I want to add @ostk0069 as collaborator of this repository.

Could you add him as new collaborator? 🙏🏼

[2021-06-01 14:23] ostk0069 commented on #446
@ry-itto I wanna take it ✋

[2021-06-01 14:38] ry-itto commented on #446
@ostk0069
Thanks! Assigned 👍🏼

[2021-06-02 06:57] takahirom commented on #439
👀

[2021-06-02 07:12] takahirom commented on #439
I invited @ostk0069  👍

[2021-06-02 11:18] ry-itto commented on #439
Thank you! 🙏🏼

[2021-06-02 13:19] shun-sasano commented on #448
I would like to do this task！🙋‍♂️

[2021-06-02 14:22] ry-itto commented on #448
@shun-sasano
Thanks!Assigned 👍 :+1

[2021-06-02 16:21] ry-itto opened #459 "[iOS & KMM] Generate KMM module as xcframework"
## Kind (Required)

- Proposal / Discussion
- Improvement

 ## Overview (Required)

- Currently, the KMM module is generated as `.framework`. In iOS App, use `xcframework` is better way.
- In this iOS project management way, it can use `xcframework` only.
- According to above, it is necessary to generate KMM module as `xcframework`.

There are two solutions.
1. Generate `xcframework` with gradle s

[2021-06-02 16:22] ry-itto opened #460 "[iOS] Create About - What is DroidKaigi Screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please create "What is DroidKaigi" screen without screen transition in `AboutFeature` module.
- Open links are not needed.
- Please implement with Localizable strings.
- Debug screen with Xcode Previews.

 ## Links

- https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-(iOS)?node-id=140%3A8797

[2021-06-02 16:28] ry-itto commented on #448
@shun-sasano
I changed this issue to implement `staff/contributor` part only.

I would appreciate it if you could recognize it 🙏🏼

[2021-06-02 16:28] ry-itto commented on #459
@takahirom
How about this?

[2021-06-02 16:38] ry-itto opened #461 "[iOS] Access color defined in Asset with `Color` directly"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, to apply asset color to SwiftUI View is a little redundancy like this `Color(AssetColor.primary.color)` because `AssetColor.primary.color` 's type is `UIColor`.
- Please be able to use asset color with type `Color` which can use in SwiftUI directly.
- Please implement with editing [`swift5.stencil`](https://github.com/DroidKa

[2021-06-02 16:40] ry-itto opened #462 "[iOS] Update SwiftGen XCFileLists"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, `Localizable.strings` input/output statement is not specified.
- Please add `Localizable.strings` input/output statement to current XCFileList files.

### How to fix this
- Run `make run-swiftgen-generate-xcfilelists` only.
  - Two files will change ( `XCFileLists/SwiftGenInput.xcfilelist` and `XCFileLists/SwiftGenOutput.xcfi

[2021-06-02 23:54] fucchi-senpai commented on #462
Can I try this? 🙋

[2021-06-03 00:19] ry-itto commented on #462
Yes! Of course!
Thanks! Assigned 👍🏼

[2021-06-03 00:58] Tech-Nayuta commented on #460
I'd like to try this issue 👍

[2021-06-03 01:00] ry-itto commented on #460
Thanks! Assigned 👍🏼

[2021-06-03 01:02] takahirom commented on #459
I think we can do it by creating a Gradle task.
You can define this in ios-framework and run it by `./gradlew ios-framework:linkDebugXCFrameworkIos`

[code]

[2021-06-03 01:06] ry-itto commented on #459
I see. I will try this 🙏🏼
Thanks!

[2021-06-03 05:26] #462 closed

[2021-06-03 05:27] #446 closed

[2021-06-03 06:48] myihsan commented on #450
I would like to try🙋‍♂️

[2021-06-03 06:49] #452 closed

[2021-06-03 06:50] ry-itto commented on #450
Thanks! Assigned 👍🏼

[2021-06-03 11:44] watanavex commented on #445
@takahirom
How do I get the GoogleService-Info.plist?
(In the context of Android, it is google-services.json)

[2021-06-03 15:06] ostk0069 commented on #461
@ry-itto
I wanna take this!

[2021-06-03 15:17] ry-itto commented on #461
thanks!assigned!

[2021-06-03 15:36] #461 closed

[2021-06-04 00:45] takahirom commented on #445
👀

[2021-06-04 01:05] takahirom commented on #445
I'm checking it, so please wait for a while.

[2021-06-04 05:02] ostk0069 commented on #451
I wanna take this!

[2021-06-04 05:02] ry-itto commented on #451
Thanks! Assigned 👍🏼

[2021-06-05 06:26] #449 closed

[2021-06-05 07:05] takahirom commented on #445
@watanavex
Please use this 🙏
[GoogleService-Info-Stating-Debug.plist.zip](https://github.com/DroidKaigi/conference-app-2021/files/6602154/GoogleService-Info-Stating-Debug.plist.zip)

[2021-06-05 15:47] #442 closed

[2021-06-05 18:04] ry-itto opened #475 "[iOS] Setup iOS GitHub Actions workflow (Danger)"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please setup iOS CI environment with Danger SwiftLint

 ## Links

-

[2021-06-06 07:50] #459 closed

[2021-06-06 13:42] ry-itto opened #482 "[iOS] Apply HomeScreen Component"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, HomeScreen uses temporary views.
- Implement with components defined in `Component` module.

 ## Links

-

[2021-06-06 15:42] myihsan opened #483 "[iOS] Use SwiftUI-Introspect"
## Kind (Required)

Proposal / Discussion

## Overview (Required)

I propose to use [SwiftUI-Introspect](https://github.com/siteline/SwiftUI-Introspect) in iOS project.

Firstly, I need it to set `searchController` for #450.

Secondly, the implementation of `NavigationBarConfigurator` is a little risky for now.
It seems like designed for the similar purpose of `navigarionController?.navigarionBar`

[2021-06-06 17:47] #451 closed

[2021-06-07 01:10] ry-itto commented on #483
@myihsan
Good idea! It's fine! Please 🙏

[2021-06-09 12:31] #483 closed

[2021-06-10 16:46] ry-itto opened #492 "[iOS] Create License list in Device Settings App"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please create License list view in Device Setting App.
- For example, using `LicensePlist`.

 ## Links

-

[2021-06-11 10:59] ostk0069 opened #493 "[iOS] Make Navigation better with Router"
## Kind (Required)

- Discussion

 ## Overview (Required)
- Currently, we are using The Composable Architecture for iOS App Architecture. If theres any idea to improve navigation, let discuss.
- I have an idea to implement something like https://github.com/SwiftUIX/Coordinator but this does not really fit with TCA.
- Directly creating PR is also welcome.

 ## Links
- https://github.com/pointfreeco

[2021-06-12 03:46] myihsan commented on #493
Could you please describe the current issues in the Composable Architecture about navigation?
If no navigation is too complicated, it's enough for me using `State` and `IfLetStore`.

[2021-06-12 05:36] ry-itto opened #494 "[iOS] Show more readable build log"
## Kind (Required)

- Improvement

 ## Overview (Required)

- In generated build-log such as `make build-modules` output is difficult to read and too long.
- Please apply build-log formatter to build-log such as `xcpretty` `xcbeautify` .

 ## Links

-

[2021-06-12 12:52] #448 closed

[2021-06-12 16:37] woxtu commented on #492
✋

[2021-06-13 02:36] ry-itto commented on #492
@woxtu Thanks! Assigned 👍🏼

[2021-06-13 04:06] ostk0069 commented on #493
If no navigation is too complicated, it's enough for me using State and IfLetStore.

Sorry for the late response.
Actually we don't have any problem with navigation right now. My idea was to discuss whether we could find any improvement for navigation which we will have in media list to media detail navigation by calling like [this](https://github.com/SwiftUIX/Coordinator#integrate-your-coordinato

[2021-06-13 07:30] myihsan commented on #493
Thank you for your explanation!
I can understand your point, but when it comes to combining with TCA, we may need to define what we actually want to achieve, for example, define the issues to resolve.
Because TCA is managing navigation by states, and we can navigate with one action, it's a little confuse to me what to improve.

[2021-06-13 15:41] #482 closed

[2021-06-14 13:54] ry-itto opened #500 "[iOS] Show `What is DroidKaigi` banner in About Screen"
## Kind (Required)
- Improvement

 ## Overview (Required)

- Please show `What is DroidKaigi` banner` in About Screen
- Customize `MessageBar` in `Component` module to make it possible to use `View` in content.

 ## Links

- https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-iOS?node-id=140%3A5877

[2021-06-14 13:56] ry-itto opened #501 "[iOS] Transition to Setting Screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please make transitioning to SettingScreen.
- Please implement without thinking about https://github.com/DroidKaigi/conference-app-2021/issues/493 once.

 ## Links

-

[2021-06-14 14:07] ry-itto opened #502 "[iOS] Build fails in CI Build with `DroidKaigiMPP` xcframework"
## Kind (Required)

- Bug report (please use the other template)
- Proposal / Discussion

 ## Overview (Required)

- In iOS App, when CI builds `Debug` or `Release` project and it depends on `DroidKaigiMPP` target, it fails.
  - Like this action https://github.com/DroidKaigi/conference-app-2021/actions/runs/932648605 .
[code]
- I tried various things, but they are not working.
  - Try to depend `A

[2021-06-14 14:11] ry-itto opened #503 "[iOS] Create Media Detail Screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please create Media/Detail Screen.
- This is similar with FavoritesScreen.

 ## Links

- https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-iOS?node-id=35%3A6718

[2021-06-17 01:32] takahirom commented on #502
I will look this 👀

[2021-06-17 01:35] takahirom commented on #502
@watanavex @myihsan let me mention for solving the issue 🙇

[2021-06-17 01:40] takahirom commented on #502
@ry-itto Can you give me the branch or commit number that is having the problem?

[2021-06-17 01:43] ry-itto commented on #502
This problem may be an iOS platform specific issue 🙇🏼
I'll investigate this problem on this weekend.

If I can't solve it, then please investigate KMM module 🙏🏼

---

@takahirom
PR: https://github.com/DroidKaigi/conference-app-2021/pull/496
Branch:  `ry-itto:ios-repository-impl`

Above PR and branch is having this problem !

[2021-06-17 13:45] #492 closed

[2021-06-17 14:34] myihsan commented on #502
It looks like a bug of `xcodebuild` (reproduce it only once by Xcode), I "fixed" it by building `DroidKaigiMPP` target first.
https://github.com/myihsan/conference-app-2021/pull/1/files
If this workaround is fine for you guys, please tell me where should I rebase to (#496 or #498?).

[2021-06-17 15:31] ry-itto commented on #502
@myihsan
Thanks! It looks good!

If your solution succeeded, please create new pull request (Fix CI changes only) 🙏🏼

[2021-06-18 00:57] #502 closed

[2021-06-19 13:10] #450 closed

[2021-06-19 13:52] ostk0069 commented on #494
@ry-itto
I wanna take this ✋

[2021-06-19 14:21] ry-itto commented on #494
Thanks! Assigned 👍🏼

[2021-06-20 10:23] #494 closed

[2021-06-20 11:11] #445 closed

[2021-06-23 05:07] rmakiyama commented on #381
🙋🏻

[2021-06-23 05:10] mhidaka commented on #381
Thanks! we assigned you.

[2021-06-25 07:51] Tech-Nayuta commented on #501
I'd like to try this issue after finished #506

[2021-06-25 12:01] ry-itto commented on #501
thanks! assigned 👍 :+1

[2021-06-25 12:44] Tech-Nayuta commented on #501
Thank you!

[2021-06-25 16:17] #460 closed

[2021-06-26 02:52] Tech-Nayuta commented on #501
@ry-itto
I pulled latest main branch and execute ```make run-swiftgen``` , it can't be worked.
The following error has occurred.
```conference-app-2021/ios/Tools/.build/checkouts/10: fatal error: could not build module 'Darwin' ```
Do you know the solution for this problem?

[2021-06-26 03:55] Tech-Nayuta commented on #501
Resolved this problem!
There was the cache  ```ios/Tools/.build``` left
Thank you.

[2021-06-27 23:57] daichi77 commented on #500
🙋

[2021-06-28 02:44] ry-itto commented on #500
@daichi77
Thanks! Assigned 👍🏼

[2021-06-30 00:54] takahirom commented on #444
Stacktrace

[code]

[2021-06-30 01:27] takahirom commented on #444
The cause seems to be that the following regular expressions inside Navigation do not match. 👀
`"result:"+pattern!!.matcher(deepLink.toString()).matches() +" pattern:"+ pattern.toString() + " deepLink:"+deepLink.toString()`
↓

[code]

![image](https://user-images.githubusercontent.com/1386930/123887403-63538980-d98c-11eb-8e75-437f13478f4c.png)

![image](https://user-images.githubusercontent.com/13

[2021-06-30 02:10] yshrsmz commented on #444
`([^/]+?)` means "string containing any char but `/`", so you cannot include `/` char.
`($|(\?(.)*))` basically means "either end-of-string char or query-parameter-like string"

So I think your last example should match.

I wonder what that last 'circle char' in your screenshot means 🤔  Can you remove that? or is it a part of the pattern?

<img width="486" alt="スクリーンショット 2021-06-30 11 02 00" src="

[2021-06-30 11:56] takahirom opened #519 "Use key parameter for `LazyColumn`"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I would like to improve app performance.
-

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/4868675fd7d8dee8711ee5a4d1c564c1b86eab97/uicomponent-compose/feed/src/main/java/io/github/droidkaigi/feeder/feed/FeedScreen.kt#L308

[2021-06-30 13:08] ry-itto opened #521 "[iOS] Transition from AboutDroidKaigi Screen"
## Kind (Required)
- Improvement

 ## Overview (Required)

- Please implement following transitions
  - Transition to License page in Setting App.
  - Open `code of conduct` (行動規範) url.
  - Open `privacy policy` (プライバシーポリシー) url.

 ## Links

-

[2021-06-30 13:11] ry-itto opened #522 "[iOS] Apply TCA to AboutDroidKaigi screen and SettingScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Title says all.
- Please apply TCA(The composable architecture) to those screens. (Make `**Feature` file and use `Store` in Screens)

 ## Links

-

[2021-06-30 13:13] ry-itto opened #523 "[iOS] Toggle App color theme from SettingScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please implement toggling theme. The current method is not always correct, so survey is also included in the task.

 ## Links

-

[2021-06-30 13:14] ry-itto opened #524 "[iOS] Toggle language settings from SettingScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please implement toggling language setting from SettingScreen.
- Please edit the current title & summary place with hard code with japanese (ex: `item.title.jaTitle`)

 ## Links

-

[2021-06-30 13:27] rmakiyama opened #525 "Crash when pause fm player while preparing state"
**Overview (Required)**
- When pause fm player while preparing state, app is crash.

**Steps To Reproduce**

1. Go to 'Podcast'
2. Click on 'play button'
3. Click on 'pause button' right away.

**Expected behavior**
If it's clear, pause fm player.

**Screenshots**
If applicable

**Env:**
 - Device: Pixel 4XL
 - OS: 11
 - branch main

**Additional context**
Any other notes

[2021-07-01 03:48] emusute1212 commented on #434
🙋

[2021-07-01 03:51] takahirom commented on #434
Thanks! Assigned

[2021-07-01 12:19] Tech-Nayuta commented on #522
It is my area of responsibility.
Let me try this issue!🙇‍♂️

[2021-07-01 15:29] ry-itto commented on #522
OK! Thanks! Assigned 👍 :+1

[2021-07-02 01:17] #444 closed

[2021-07-02 01:32] takahirom commented on #525
Good catch!

[2021-07-02 02:07] ostk0069 commented on #503
I wanna take this ✋

[2021-07-02 08:57] ry-itto commented on #503
thanks! assigned 👍 :+1

[2021-07-03 10:11] takahirom opened #530 "About DroidKaigi 2021 event"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

The details of the DroidKaigi 2021 event have not been decided, but are currently being decided.

I'm considering adding a DroidKaigi 2021 page to this app that looks like a feature page.
Currently, we are assuming that the 2021 event will not be such a complicated timetable.
So, I'm thinking about displaying a simple list and d

[2021-07-04 05:53] #381 closed

[2021-07-05 00:50] #434 closed

[2021-07-05 12:51] mhidaka commented on #530
We're open https://droidkaigi.jp/2021/ !

[2021-07-05 16:47] #503 closed

[2021-07-05 17:15] nobonobopurin commented on #530
@takahirom ( @ry-itto @nontan  )
アプリ内、DroidKaigi 2021のページ追加の件、承知いたしました。

以下、確認したい内容をまとめてみました。

 iOS版アプリの場合、
1. Home画面の構成を変更するもしくは、TabBarのItemをもう一つ増やす方向で検討してみたいのですがいかがでしょうか？
2. デザインテーマに関しては、新規イベントページのトーン＆マナーに合わせて、`themePrimary`と`themeSecondary`のカラーコードを変更する形で対応したいのですがいかがでしょうか？
3.  デザイン更新作業を進める際には、デザイナー側でissueを立ててレビューをもらいながら進めた方が良いのでしょうか？

お手すきの際にご確認いただけると幸いです！

---
First, let me make sure of a few t

[2021-07-05 17:31] ry-itto opened #534 "[iOS] Update Snapshots with CI is failed."
**Overview (Required)**
- Because `main` is protected branch, so the CI failed.

**Steps To Reproduce**

- Merge a branch that includes new snapshots.

**Expected behavior**

- After above branch merged, snapshots are updated by CI.

**Additional context**

- Change to process that opens PR is maybe better.
- During not fixed this, please ignore snapshot-testing CI failing state.

[2021-07-05 17:31] ry-itto commented on #534
I'll fix this tomorrow 🙏🏼

[2021-07-05 17:55] ry-itto commented on #530
@nobonobopurin

ありがとうございます！
iOS 版アプリ側の確認項目についてですが、

どちらの方針でも問題ありません。

新規イベントページのトーン&マナーに合わせることも承知しました！
iOS 側デザインの場合、 Android 側とパレットが違うかと思いますので、対応箇所が増えるかもしれないのですが、よろしくお願いします

[2021-07-06 01:13] takahirom commented on #530
@nontan
Androidアプリのデザインなんですが、homeにバナー的な何かとNavigationDrawerに追加するのがいいのかなと思っていましたが何か案を頂きたいですがどうでしょう 🙏

[2021-07-06 12:47] nontan commented on #530
@takahirom
@ry-itto
@nobonobopurin

すみません、ここのところこの活動に参加できていませんでした。

NavigationDrawerはこの部分のことですよね！
![image](https://user-images.githubusercontent.com/1683832/124602063-72ae6780-dea3-11eb-897b-11b791e37f4b.jpeg)

このようなイメージかなと思いました。

- NavigationDrawer
Aboutメニューより上にリンクを追加する
もしくは下部分にバナーを貼る
![image](https://user-images.githubusercontent.com/1683832/124602205-94a7ea00-dea3-11eb-8fdd-de4e49671b22.jpeg)

[2021-07-07 01:43] #534 closed

[2021-07-08 01:25] takahirom commented on #530
イベントはDroidKaigiのメインのコンテンツになるので、以下のような赤枠で囲った対応の部分をやっていくのが良いかと思いました。
![image](https://user-images.githubusercontent.com/1386930/124847790-90c8b480-dfd6-11eb-83f3-29aa77e5a143.png)
![image](https://user-images.githubusercontent.com/1386930/124847811-98885900-dfd6-11eb-9ea7-d01780180945.png)

同じく2の認識です！確認ありがとうございます。
2. DroidKaigi2021のタイムテーブルページを新しくアプリ側で作る

---
Since the event will be the main content

[2021-07-08 01:53] takahirom opened #542 "About iOS snapshot in main branch"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I was wondering if the method of committing a snapshot to the main branch in the repository is not so good because it image will remain as a git object forever. 👀
- For example, you could create a `golden` branch and write automatic updates to it.
- I think it's okay to leave it as it is, but please tell us what you think. 🙇

 ## Links

[2021-07-08 02:28] nobonobopurin commented on #530
@ry-itto
ご確認ありがとうございます！

もろもろ来週中に対応して共有できるようにします。

[2021-07-08 13:38] ry-itto commented on #542
@takahirom

I think so too. We should solve that problem.
But I think creating `golden` branch way is hard to manage. 😢

So I guess creating another repository (Managing only snapshots) and reference it from this repository by git-submodules is better.
How about this?

[2021-07-10 00:51] mochadwi commented on #542
Does the git submodule will break the CI pipeline? In gitlab, submodule was required to be fetched manually and thus testing (the CI) + maintaining will also cumbersome :(

[2021-07-10 04:08] takahirom commented on #542
I don't really understand it, but could it be solved by using Git LFS? 👀
https://github.com/pointfreeco/swift-snapshot-testing/issues/380#issuecomment-683878791

[2021-07-11 08:45] #542 closed

[2021-07-11 09:23] takahirom opened #552 "CI fail with java.io.IOException emulator 21, 23"
## Kind (Required)

- Improvement

 ## Overview (Required)

[code]

 ## Links

-

[2021-07-12 00:54] takahirom opened #556 "iOS snapshots are not committed as Git LFS"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We are using Git LFS cache logic here.
- By: https://github.com/actions/checkout/issues/165#issuecomment-657673315
- To: https://github.com/DroidKaigi/conference-app-2021/blob/main/.github/workflows/ios-commit-snapshots.yml#L16-L25
- But currently, it seems that the actions does not work 😭

https://github.com/DroidKaigi/conference-app-2

[2021-07-19 10:55] takahirom opened #562 "Resize small iOS snapshot images"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - If you use it a little more, it may be used up, so I think it would be better to make the image a little smaller if possible, but is it possible?

![image](https://user-images.githubusercontent.com/1386930/126148281-ba5f2486-85f5-4781-a763-4e1322511584.png)

 ## Links

-

[2021-07-21 08:02] jihoi-kang commented on #365
I wanna take this ✋

[2021-07-22 16:43] #501 closed

[2021-07-23 04:30] takahirom commented on #365
Thanks! Assigned 👍

[2021-07-23 04:30] takahirom commented on #365
@jihoi-kang Thanks! Assigned 👍

[2021-07-25 04:06] ry-itto commented on #562
@takahirom
Sorry for late response 🙇🏼

I think so too. But if make the image smaller, snapshot tests are failed even if I specified lower precision value (0.6).

So I think there are some choices about this.

- Continue with current image size
- Stop to use Git LFS
- Stop to test iOS snapshot testing
  - If above choices are not good, this is okey I think.

[2021-07-25 06:44] ry-itto commented on #500
@daichi77
How about this? 🙏🏼

[2021-07-26 01:21] daichi77 commented on #500
@ry-itto I'm sorry, I will make a pull request today. If I can't do it today, I'll give up

[2021-07-27 16:05] #500 closed

[2021-07-28 23:43] #493 closed

[2021-08-01 08:50] takahirom commented on #562
@ry-itto
Thank you for your response 🙏

Did you use the `scale` option?

https://github.com/pointfreeco/swift-snapshot-testing/pull/396/files#diff-3e1681b0623d05afda1993aa39ee2ae8641918d2e1df61acf80b1a367dada06fR14

[2021-08-01 11:56] takahirom commented on #556
Probably it was fixed.
Let me wait and see please👀

[2021-08-01 13:00] ry-itto commented on #562
@takahirom
Thank you for your suggestion!
When I tried to use it, it works. (about reducing 75% in my local environment)

So I will make a pull request about it 🙏🏼

[2021-08-04 01:14] takahirom commented on #562
Thank you for addressing this issue!

[2021-08-04 01:14] #562 closed

[2021-08-04 01:15] takahirom commented on #562
Current 👀
![image](https://user-images.githubusercontent.com/1386930/128106213-40a6e884-43ca-4a9e-b97c-e14456be6262.png)

[2021-08-22 08:32] takahirom opened #591 "DroidKaigi 2021 conference app roadmap"
# Why
Probably to be able to show information in the conference app for DroidKaigi 2021 on October 19 in this app, we need to put milestones. Without milestones, there will be no progress.

# What features do we need in the conference app for DroidKaigi 2021?

Basically, since this year's conference is online, it can be viewed on the web, so we don't need a map or other features. I am assuming it

[2021-08-22 08:36] takahirom commented on #591
@ry-itto @nontan @nobonobopurin
I think this is important information, so I'll let you know. 🙏

[2021-08-23 15:54] nobonobopurin commented on #591
@takahirom
Thank you for setting the period.
I will finish the design within the period !

期間の設定ありがとうございます！
記載いただいた内容で問題ございません。
9/5までにデザインの方、修正します🙏

[2021-08-23 23:50] takahirom commented on #591
@nontan @nobonobopurin

I asked for information that I might need for your design. If you have any questions, please let me know.

I asked about this year's sessions.

* No parallel sessions
Conducted on YouTube
Videos delivered are pre-recorded or live
* Session duration is 25 minutes for everyone
For those who accepted, office hours will be held on Discord after the session
* 3 days
* It has not

[2021-09-02 08:10] takahirom commented on #591
@nontan @nobonobopurin
Thank you as always! Please let me know if you have any problems! 🙏

[2021-09-04 14:08] nobonobopurin commented on #591
@takahirom
In terms of branding, Can I change the existing logo(Green&Blue) to the new logo(Orange)?

[2021-09-05 01:40] takahirom commented on #591
@nobonobopurin
I think it's good.🙏
いいと思います。🙏
Is there any information you would like to know about using oranges?
オレンジを使う上でなにか欲しい情報はありますか？
@nontan
Do you have any concerns about using oranges?
オレンジを使う上でなにか懸念点などありますか？

[2021-09-05 06:58] nontan commented on #591
大丈夫です！
しいていえば、AndroidアプリもiOSアプリのカラーに合わせたほうがいいかな？と思いました。

I have no concerns!
If I may say so, I think the Android app should match the iOS colors.

[2021-09-05 07:48] takahirom commented on #591
@nontan なにかメインで使っている色などの情報があれば提供いただけると助かります🙏

[2021-09-05 08:35] nobonobopurin commented on #591
@takahirom ( @nontan )
イベントサイトで、カラーコードとロゴのSVGファイルを取得したので、
オレンジを使う上で必要な情報は特にありません。

There is no specific information required to use the oranges.
I got the color code and the SVG file of logo from the event site.

[2021-09-05 08:36] nobonobopurin commented on #591
@takahirom @nontan

iOSアプリのデザイン更新作業終わりました！

- ロゴ画像差し替え
- カラー変更
- Timetable画面追加
- その他、トーン＆マナーに合わせてコンポーネント微調整

詳細はFigma、[READMEページ](https://www.figma.com/file/D2VLqh0xOXbH0zB6cTz053/DroidKaigi_2021_official_App-iOS?node-id=1807%3A10647)にて、ご覧になれます。

--------------------

The iOS App design update is over!

- Replaced the logo image
- Colors changed
- Timetable screen added
- In addition, fine-tuned t

[2021-09-05 14:46] nontan commented on #591
Androidアプリのデザインを更新しました。

https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=0%3A1

- navigation drawerにタイムテーブルのメニュー追加
- navigation drawerにDroidKaigiのバナー追加
- HOMEページの画像変更
- タイムテーブルページの追加
- セッションページの追加

I updated the design of the Android app.
- Added timetable menu to navigation drawer
- Added DroidKaigi banner to navigation drawer.
- changed the image of HOME pa

[2021-09-05 15:12] nontan commented on #591
@takahirom @nobonobopurin

思ったことがありましたのでご相談させてください！

Androidsアプリのデザインについて、iOSアプリのデザインをベースにするのがよいのではないか、
と思ったのですがいかがでしょうか。

今まで、このアプリはイベントとは別に今後も使っていく予定のアプリと考えていました。
そのため、DroidKaigi2021イベントとのデザイン整合性はなくても問題はないと考えていました。

しかしながら、

 - このアプリはおそらくDroidKaigi2021に参加される方がインストールする
- iOSアプリ、Androidアプリ、サイトのデザインが一致しているほうが、Droidkaigi2021のイベントに統一感が出る
- iOSアプリのデザインはDroidKaigi2021のサイトデザインとなじんでおり、情報も見やすい
- iOSアプリとAn

[2021-09-06 00:20] takahirom commented on #591
@nontan
すてきなデザインと提案ありがとう！ 🙏
確かに同じデザインのほうが理想的にはいいと思います。ただ、ちょっと多分iOSの形にAndroidのアプリを持っていくための時間を作るのが難しいと考えています。
私は作っていただいたAndroidのデザインを実現していくのを今は考えています。

Nice design and thanks for the suggestion!
It is true that the same design would be more ideal. However, I'm thinking that it's a bit maybe difficult to make time to bring the Android app to the iOS form.
I am now thinking of implementing the Android

[2021-09-06 14:24] nontan commented on #591
検討していただきありがとうございました。
Kotolinの件失礼しました、修正しました🙇

Thank you for your consideration.
My apologies about Kotlin, I fixed it 🙇

[2021-09-06 23:57] takahirom commented on #556
Fixed 🙏

[2021-09-06 23:57] #556 closed

[2021-09-08 00:47] takahirom opened #606 "DroidKaigi 2021 conference app development schedule"
## Kind (Required)

- Proposal / Discussion

 ## Overview (Required)

- It's basically the same as the #591 issue, but we'll need a little more detail for development.
- We want to create a session list feature by 10/11

## 9/12
- Implement Feed API Fake
- Implement Feed ViewModel Fake

We can create it using the 2019 sessionize response
https://sessionize.com/api/v2/xc8zp3xu/view/all

## 9/19

(A

[2021-09-08 01:09] takahirom opened #609 "Use navigation scoped ViewModel"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - Currently, we are using application-scoped ViewModel. But it is not scalable. So we want to migrate to navigation scoped ViewModel
 - Basically, it's easy because you just replace the ViewModel that was provided with Factory.
 - See the pull request below for more information.

https://github.com/DroidKaigi/conference-app-2021/pull/608

[2021-09-10 16:02] warahiko commented on #519
I want to try this 🤚

[2021-09-10 23:33] takahirom commented on #519
Sorry, It has already done in this pr.🙏
If you have any idea of improvement, please do it🙏
https://github.com/DroidKaigi/conference-app-2021/pull/593/files

[2021-09-10 23:33] #519 closed

[2021-09-11 05:15] warahiko commented on #365
I want to try this 🤚

[2021-09-11 06:44] takahirom commented on #365
Thanks! Assigned 👍

[2021-09-11 08:46] #365 closed

[2021-09-12 08:41] takahirom opened #613 "Provide DroidKaigi 2021 theme"
## Kind (Required)

- Other

 ## Overview (Required)

 - I would like to apply a Theme to suit the following designs.
 - I would like to make it with a name such as DroidKaigi2021Theme.
 - Themes can be adapted in duplicate, so I'm thinking of adopting them on the TimetableScreen.
- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app

 - **This feature is required by 9/1

[2021-09-13 01:00] tmk815 commented on #609
🙋‍♂️

[2021-09-13 23:09] takahirom commented on #609
Thanks! Assigned 👍

[2021-09-14 04:45] #609 closed

[2021-09-17 07:11] ry-itto commented on #606
I'm sorry, we found that I couldn't get enough time until 9/19, so I reschedule on the iOS side. ( change `9/19` to `9/26` )

[2021-09-18 16:03] rsookram commented on #552
I started looking into this issue, and then I found that the min SDK version of this app [is now 24](https://github.com/DroidKaigi/conference-app-2021/commit/ea0396657c896a5931189e05a541cdb05d62c977), so it doesn't really apply anymore. Is the min SDK going to be reduced later, or could this issue be closed now?

What I found so far is that API 21's ActivityManager likely didn't support the `get-c

[2021-09-19 04:38] takahirom commented on #552
👀

[2021-09-19 04:46] takahirom commented on #552
Thank you for your wonderful consideration! 🆒
Currently, I think MinSdk Version can be 21.
Because the bug has been fixed.
https://issuetracker.google.com/issues/194289155#comment23

It may be good to change min sdk with the fix to this issue and add the following fix that you told me. 👍
https://android.stackexchange.com/questions/103824/how-to-find-out-currently-running-user-name-id-from-adb/1232

[2021-09-19 15:21] takahirom commented on #606
The Android app also couldn't finish on the 19th. 😅
I will try to recover tomorrow.

[2021-09-20 07:38] #552 closed

[2021-09-20 07:50] takahirom commented on #613
Provided in https://github.com/DroidKaigi/conference-app-2021/pull/619

[2021-09-20 07:50] #613 closed

[2021-09-20 08:58] takahirom commented on #67
@ikemura23 How is the progress of this issue? 🙏

[2021-09-20 09:16] takahirom opened #622 "Add DroidKaigi 2021 Article item in FeedScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We want to make it easy for users to navigate to the DroidKaigi2021 timetable from the FeedScreen.
- Right now I'm showing the first Feed article, but I'd like to show DroidKaigi2021 until November.
![image](https://user-images.githubusercontent.com/1386930/133979653-7cd819fa-f784-4462-be6f-3f02a42b5ba7.png)

 ## Links

- https://www.fi

[2021-09-20 09:20] takahirom opened #623 "Drawer 2021 item"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I would like to add an item that can be moved to the timetable.
![image](https://user-images.githubusercontent.com/1386930/133980212-c3b7c251-dfe9-4383-97f9-4cbd4d48c759.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=0%3A1

[2021-09-20 09:30] takahirom opened #624 "Favorite feature without view"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Please implement the favorite function to the timetable items.
- There is currently a similar implementation in FeedScreen that can be used as a reference.
- We want to start working on this feature as soon as possible, as it will be the foundation for other features.

 ## Links

- https://github.com/DroidKaigi/conference-app-2021/blob/

[2021-09-20 09:39] takahirom opened #625 "Notify when a favorite session is started"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This feature is blocked by (favorite feature) https://github.com/DroidKaigi/conference-app-2021/issues/624

- It can be implemented by referring to the SessionAlarm class from last year.
- https://github.com/DroidKaigi/conference-app-2020/blob/4c5533e4611d4bf6007284dd1f61db2fc92eb0ae/feature/session/src/main/java/io/github/droidkaigi/co

[2021-09-20 09:47] takahirom opened #626 "Implementation of filtering of favorites for timetable items"
## Kind (Required)

- Improvement

 ## Overview (Required)

- It is not in the design, but you can refer to the feed for almost the same functionality.
![image](https://user-images.githubusercontent.com/1386930/133983366-b3c5be59-ec1d-4232-b4ca-fd4c51d387dd.png)
- blocked by #624

 ## Links

-

[2021-09-20 09:55] takahirom opened #627 "Timetable Items"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Use LazyColums to display items in the timetable.
![image](https://user-images.githubusercontent.com/1386930/133984244-41c1c334-4831-4ef0-80e8-fe9c712d7ec4.png)

 ## Links

-

[2021-09-20 10:10] takahirom opened #628 "Database cache of timetable item"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We will put the timetable items in the Database and use it to display the data retrieved from the API.
- Basically, we will change the data from the Database data to flow through Coroutiens Flow and use it in the application.

https://github.com/DroidKaigi/conference-app-2021/blob/2bbcbed97b2c7a49540e0519ed2ccbbdcd235df3/data/repository

[2021-09-20 10:14] takahirom opened #629 "Timetable item detail screen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything
- Probably we should use database cache. https://github.com/DroidKaigi/conference-app-2021/issues/628  If you can please implement by FakeViewModel.
![image](https://user-images.githubusercontent.com/1386930/133985341-e3526bf6-aabf-4d53-988f-b9cd7433ca22.png)

 ## Links

-

[2021-09-20 10:19] takahirom opened #630 "Apply toolbar design"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything
![image](https://user-images.githubusercontent.com/1386930/133987145-8a0b81b9-3b2a-47c1-aaf6-ee856340f37e.png)

 ## Links

- https://www.figma.com/file/IFlrbfmBSdYvUz7VmSzfLV/DroidKaigi_2021_official_app?node-id=0%3A1

[2021-09-20 10:32] takahirom opened #631 "Filter the timetable item by date"
## Kind (Required)

- Improvement

 ## Overview (Required)

- The title says everything

 ## Links

-

[2021-09-20 11:09] chigichan24 commented on #630
I wanna try this issue 🙋

[2021-09-20 11:16] takahirom commented on #630
Thanks! Assigned!

[2021-09-20 14:57] ry-itto opened #636 "[iOS] Fix Property names in iOS Staff model with real staff and contributor KMM models"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This is occurred by https://github.com/DroidKaigi/conference-app-2021/pull/634 changes.
- So, please fix iOS model' s property names with real name.

### About contribution
#### Points need to change (I think this is all)

[code]

#### About pull-request

Please create Pull Request to `DroidKaigi2021/use-real-contributor-and-staff-api`

[2021-09-20 17:16] 417-72KI commented on #636
👀

[2021-09-20 18:15] 417-72KI opened #642 "[iOS] Run CI for iOS App in Xcode 12.5(.1)"
## Kind (Required)

Choose the suitable template if exists.

- Improvement

 ## Overview (Required)

- `macOS 11 Big Sur` runner has been available on GitHub Actions.
- It means Xcode 12.5 is also available on GitHub Actions!
- My suggestion is to use the latest Xcode on CI.

 ## Links

- https://github.blog/changelog/2021-08-16-github-actions-macos-11-big-sur-is-generally-available-on-github-host

[2021-09-20 18:23] 417-72KI commented on #475
I am providing my own GitHub Action (https://github.com/417-72KI/danger-swiftlint).
Can I use it?

[2021-09-20 18:56] ry-itto commented on #475
@417-72KI
It looks good!

Of course 👍🏼

[2021-09-20 22:01] #636 closed

[2021-09-20 23:19] tfandkusu commented on #623
🙋

[2021-09-20 23:37] takahirom commented on #623
Thanks! Assigned!

[2021-09-21 00:05] r4wxii commented on #627
I try this issue 🙋‍♀️

[2021-09-21 00:16] #630 closed

[2021-09-21 00:20] takahirom commented on #627
Thanks! Assigned 👍
I'm looking forward to your compose implementation!

[2021-09-21 00:44] takahirom opened #646 "Use compose material icons instead of VectorDrawable"
## Kind (Required)

- Improvement

 ## Overview (Required)

- I think we can use it's icons 😄
- https://developer.android.com/reference/kotlin/androidx/compose/material/icons/package-summary?hl=ja
- https://github.com/DroidKaigi/conference-app-2021/tree/main/uicomponent-compose/main/src/main/res/drawable

 ## Links

-

[2021-09-21 00:47] takahirom commented on #591
@nobonobopurin  @nontan @ry-itto

There are some changes in specifications. Session levels are unlikely to be available this year, so you won't be able to see anything like beginners. 🙇

少し仕様変更があります。セッションのレベルは今年は利用できなさそうなので、初心者向けのようなものは表示できなさそうです。 🙇

[2021-09-21 02:06] kuramu1108 commented on #646
🙋‍♂️

[2021-09-21 02:11] koji-1009 commented on #628
✋

[2021-09-21 02:28] takahirom commented on #628
Thanks🙏🙏Assigned!!

[2021-09-21 02:31] takahirom commented on #646
Thanks! Assigned 👍

[2021-09-21 02:56] Tech-Nayuta commented on #521
🙌

[2021-09-21 03:21] mune0903 commented on #625
🙋‍♂️

[2021-09-21 04:43] ry-itto opened #649 "[iOS] Apply Staff and Contributor API response to AboutScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, there are no data in iOS AboutScreen and no API calls in there.
- So please call API via Staff/Contributor Repository.
  - call them from `AboutFeature` not `AppFeature` .

 ## Links

-

[2021-09-21 04:51] ry-itto commented on #642
This is good idea!
Thank you for this issue 🙏🏼

Recently, in macOS 11 Big Sur runner, Xcode 13.0(13A233) (This is RC version build number) is available as well.
If there is no problem about this, it might be good to use this.

[2021-09-21 09:00] #646 closed

[2021-09-21 13:02] t-yusaku commented on #624
🙋

[2021-09-21 13:34] takahirom commented on #624
Thanks!! I'm looking forward to your PR🙏

[2021-09-21 13:44] koji-1009 commented on #628
Hi, @takahirom san.

I have a question. Could you discuss a little?

---

The code sets `io.github.droidkaigi.timetableer.data`, but the actual file path is `io.github.droidkaigi.feeder.data`.
From what I've read in the code, it certainly looks like a different file path would be a good idea. However, this will also affect the repository module and other issue(#624). 🤔

Do you have any plan about

[2021-09-21 13:52] takahirom commented on #628
👀

[2021-09-21 13:55] #631 closed

[2021-09-21 14:02] koji-1009 commented on #628
Thanks!

[2021-09-22 00:54] yuukiw00w commented on #524
🙋‍♂️

[2021-09-22 01:08] takahirom commented on #524
Thanks. Assigned 🙏

[2021-09-22 01:17] #623 closed

[2021-09-22 01:42] yuukiw00w commented on #524
Is this function "When the switch is turned on, the language setting of the device will be followed, but when it is turned off, the language setting will be Japanese"?
Or is this function "When the switch is turned on, the language setting is Japanese, and when it is turned off, the language setting is English"?
Android doesn't have this feature yet, and it looks like it is implemented to automati

[2021-09-22 02:19] yuukiw00w commented on #524
Like Android's dark theme implementation, should I implement three options: "Follow device settings" & "Japanese" & "English"?

[2021-09-22 02:43] ry-itto commented on #524
Certainly, it seems that intuitive operation is not possible with the current design.

Can you implement it in the same way as on the Android side? 🙏🏼
Sorry for the implementation without the design..

[2021-09-22 03:20] yuukiw00w commented on #524
Yes, I can.
But it will take some time, I will check this evening or tomorrow.
This feature is not implemented in Android, so I think I need to implement it from Repository(e.g. LanguageRepository) to save the language settings, right?

[2021-09-23 03:23] koji-1009 commented on #629
May I challenge this issue?

[2021-09-23 03:33] takahirom commented on #629
Sure, Why not? 😄
I think we probably need to add some categories etc to the TimetableItem, is that okay? 👀

[2021-09-23 03:50] koji-1009 commented on #629
I checked the JSON.
If there are no major changes after this, I will try to extend TimetableItem to the current JSON form and implement it once.

If it is better to separate the PRs, I will try to deal with them separately. (The first is to update TimetableItem, and the second is to update the UI.)
How should I proceed to make review and deployment easier?

[2021-09-23 03:52] #628 closed

[2021-09-23 03:58] takahirom commented on #629
We don't plan to make any more major changes.

I think that's a good idea. 🙏

The changes to the model will affect the iOS as well, so we need to make them as soon as possible.
I hope to have it done by this weekend(Saturday or Sunday) if possible.

Just a little bit of cognitive alignment, I'd like to make it so that TimetableItem has an instance of the category class, rather than modeling the AP

[2021-09-23 04:06] #624 closed

[2021-09-23 04:10] koji-1009 commented on #629
I'll update the model to PR first. 👍
(That is the scope of #628. Sorry, I missed it. 🙏 )

I will implement Category based on 2020.
I'll implement it as soon as I can and make it PR, so if it's not what you intended, please comments.

---

※急ぎの話だと思うので日本語で
categoryクラスのインスタンスの持ち方について、了解しました！
SQLDlightの実装になれていないので、意図と違うところがあればPRのコメントでバシバシ指摘いただけますと 🙇

[2021-09-23 04:15] takahirom opened #657 "Use value classes for timetable item IDs and feed item IDs"
## Kind (Required)

- Improvement

 ## Overview (Required)

- We can use the value class around here 😄
- https://github.com/DroidKaigi/conference-app-2021/blob/main/data/db/src/commonMain/kotlin/io/github/droidkaigi/feeder/data/UserDataStore.kt#L21
- https://kotlinlang.org/docs/inline-classes.html

 ## Links

-

[2021-09-23 04:39] blackbracken commented on #657
I try this issue 🤾

[2021-09-23 04:39] t-yusaku commented on #626
If there's no one else, I wanna do this. 🤚

[2021-09-23 04:41] ry-itto commented on #524
yes, you are right.
Pleasb implement kotlin part as well 🙏 :pray

[2021-09-23 05:02] takahirom commented on #626
Thanks! Assigned!👍

[2021-09-23 05:12] takahirom commented on #657
Thanks! Assign🙏

[2021-09-23 06:10] blackbracken commented on #657
This PR must affect code on iOS module, so should I test on iOS module like Android one, right? 🍎

[2021-09-23 06:56] takahirom commented on #657
Probably, yes.
You can use CI builds to check your iOS implementation. 👀

[2021-09-23 07:20] HironobuIga commented on #649
I'd like to try this issue :)

[2021-09-23 07:21] n-seki commented on #525
🙋
I try debugging!

[2021-09-23 07:34] takahirom commented on #525
Thanks! Assigned!

[2021-09-23 08:26] ry-itto commented on #649
Thanks! Assigned 👍
@HironobuIga @

[2021-09-23 08:54] HironobuIga commented on #649
Thank you! 👍

[2021-09-23 10:21] #642 closed

[2021-09-23 12:48] koji-1009 opened #663 "[Suggestion] Enable Coercing input values to avoid forced unwrap"
## Kind (Required)

- Improvement

 ## Overview (Required)

- There is a part that uses null in the part that parses from JSON
- Warning by null or NPE is important, but unnecessary forced unwrapping is needed if all parts are nullable

So, I propose to enable "Coercing input values" flag.

 ## Links

- [Coercing input values](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/json.m

[2021-09-23 14:25] takahirom commented on #663
👀

[2021-09-24 01:47] #475 closed

[2021-09-24 06:09] koji-1009 commented on #629
💪

[2021-09-24 06:56] RyuNen344 commented on #78
🤚

[2021-09-24 06:58] takahirom commented on #78
Thanks! Assigned!🙏

[2021-09-24 07:16] #525 closed

[2021-09-24 07:22] takahirom commented on #663
I did not know about `Coercing input values`. 👍
I'd like to see an implementation using it, and I'm looking for someone who can try it out.

[2021-09-25 04:53] #78 closed

[2021-09-25 12:14] koji-1009 commented on #629
Some minor design changes may be required.

### The speaker and the date and time under the title

* The number of characters in the name may different for different people
* The session may have more than one speaker

### Button size for Video and Slide

* If only one side is used, should it be start-aligned?
* If the screen size or text size is enlarged, do we want it to be horizontally scrollab

[2021-09-25 12:26] takahirom commented on #629
👀

[2021-09-26 01:47] takahirom commented on #629
@nontan

Can you help me with this? 🙏

[code]

![image](https://user-images.githubusercontent.com/1386930/134790197-ebaac18c-6a06-46c8-91a0-fd2a161aeeda.png)

![image](https://user-images.githubusercontent.com/1386930/134790259-f03bf2b1-dbcd-4010-885a-380c26cd53e0.png)

Do you have any suggestions for improvement?
I think we can use FeedScreen Style for the item list in the timetable.

![image](ht

[2021-09-26 01:59] takahirom commented on #629
![image](https://user-images.githubusercontent.com/1386930/134790478-365f8408-7bfc-4c16-a8f9-751997a431b9.png)

[code]

I think I'll be fine.
 @nontan
What do you think? 🙏

---

![image](https://user-images.githubusercontent.com/1386930/134790524-b3ceab74-36d6-45fb-ae72-03406a5da65a.png)

[code]

I think it is good to check and modify after implementation. I may prefer to make the text smaller rat

[2021-09-26 02:00] takahirom commented on #629
[code]

I'll ask the web engineers. 🙏

[2021-09-26 02:22] takahirom commented on #629
@nontan
Let me change the subject. Personally, I feel a little uncomfortable putting "Movie" and "スライド" together.  (Japanese and English together)
How about making "スライド" "SLIDES". 🙏

[2021-09-26 02:41] koji-1009 commented on #629
I Agree!
It seems like a good idea to try implementing it with a fixed size of 144dp once.

---

Below is an idea.

* The width of the button can be changed according to the display size of the application, such as 360/480/600dp
* If the application has 600dp (or 480dp) or more, set the button size to 144dp; if less, set the size based on 1/2 of the screen size (using autosizing text)

[2021-09-26 02:55] takahirom commented on #629
If the application has 600dp (or 480dp) or more, set the button size to 144dp; if less, set the size based on 1/2 of the screen size (using autosizing text)

It looks good 👍
I have seen such a document, but could not find it. 😭

[2021-09-26 05:33] takahirom commented on #629
@koji-1009 Can you use this? 🙏
[session-category.zip](https://github.com/DroidKaigi/conference-app-2021/files/7230786/session-category.zip)

[2021-09-26 05:37] koji-1009 commented on #629
@takahirom
Thanks!

[2021-09-26 15:44] HironobuIga commented on #649
@ry-itto
I tried this issue, but I couldn't implement in my spare time...
I'd like to give up, very sorry .... 🙏

[2021-09-26 15:45] ry-itto commented on #649
@HironobuIga
It's okey!
Thank you for trying this issue!

[2021-09-26 17:21] r4wxii commented on #627
I noticed not working favorites timetable items.
Specifically, Key of `UserDataStore.favorite()` referenced by `TimetableRepositoryImpl` is that of the Feed. I confirmed that it works by changing the key from `KEY_FAVORITES` to `KEY_FAVORITES_TIMETABLE_ITEM_ID`.
Should I fix it after submit Issue/ open PR?

[2021-09-26 22:49] takahirom commented on #627
👀

[2021-09-27 00:17] takahirom commented on #627
How about using `UserDataStore .favoriteTimetableItemIds()` instead of UserDataStore.favorite()?

[2021-09-27 00:47] r4wxii commented on #627
I changed the key for confirmation 🙇
Of course, I was going to fix that way!

[2021-09-27 00:50] takahirom commented on #627
You can either separate PR or do them in that PR. 👍

[2021-09-27 00:54] takahirom commented on #627
If you have the time, I would suggest creating an issue if you can. But it is not a big issue, so do what you want. 👍

[2021-09-27 01:03] r4wxii commented on #627
I will create an issue and then proceed with that PR 🙋

[2021-09-27 01:05] takahirom commented on #627
I checked other PR. It seems fixed👀
https://github.com/DroidKaigi/conference-app-2021/pull/679/files#diff-09835bbfafa08e100a233dd6e2d49174e37b4ecb95b0cae52fa7022a597c4bb1R15

[2021-09-27 01:13] r4wxii commented on #627
Sorry, I didn't check it enough 😢
I'll leave the correction to that 🙏

[2021-09-27 01:20] #649 closed

[2021-09-27 17:14] ry-itto opened #684 "[iOS] Error handling in AboutScreen"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, no error handling and error page in AboutScreen. So please implement error page in AboutScreen.
  - Please implement with `SwitchStore` same as TimetableFeature

 ## Links

-

[2021-09-28 03:36] Aqua-ix commented on #622
I wil try this issue🙋

[2021-09-28 03:48] takahirom commented on #622
Thanks! Assigned!

[2021-09-28 07:43] HironobuIga commented on #684
Could I do this ? I tried before and I think I can do.

[2021-09-28 07:49] takahirom commented on #684
Thanks! Assigned 👍

[2021-09-28 08:29] takahirom opened #686 "Fix wrong date tab name"
## Kind (Required)

- Improvement

 ## Overview (Required)
![image](https://user-images.githubusercontent.com/1386930/135051991-808d92d5-504d-45f1-b0f8-ddeab7e02442.png)

 ## Links

-

[2021-09-28 08:31] takahirom commented on #625
@mune0903 Sorry, I'm missed your comment? Are you doing this task?? 👀  🙇 🙇

[2021-09-28 08:45] takahirom commented on #625
For now, I assigned you 🙏

[2021-09-28 12:05] koji-1009 commented on #629
Thank you, @nontan!

Let me proceed first with the name at the top removed and the button fixed at 144dp.
As for the width of the button, I'll try to figure out a way to make it not scroll. (Maybe someone else will have an idea...).

[2021-09-28 12:40] mune0903 commented on #625
Thank you!

[2021-09-28 14:03] kmachida12345 commented on #686
:raising_hand_man:

[2021-09-28 17:11] HironobuIga opened #689 "[iOS]Adjust AboutScreen content insets to show all cells"
## Kind (Required)
- Improvement

 ## Overview (Required)
- currently there are not enough content insets in AboutScreen, then we can't see all staffs / contributors.(some of them are behind of banner).  So adjust LazyVStack / LazyVGrid 's bottom padding to show all cells.

 ## Links

-

[2021-09-28 21:07] takahirom commented on #686
Thanks! Assigned!

[2021-09-29 00:42] #629 closed

[2021-09-29 00:43] #686 closed

[2021-09-29 01:10] #522 closed

[2021-09-29 09:49] takahirom opened #692 "Add insets padding to TimetableItem list"
**Overview (Required)**
inset padding to timetable item list so the item is cropped

**Steps To Reproduce**

1. Go to 'TimetableScreen'
2. Scroll
4. See cropped item

**Expected behavior**
not cropped

**Screenshots**

![image](https://user-images.githubusercontent.com/1386930/135245141-24dd822a-80e2-4d3e-8424-dddce4808a8f.png)

**Env:**
 - Device: [e.g. Pixel3]
 - OS: [e.g. 9.0]
 - App Version or

[2021-09-29 09:51] takahirom opened #693 "Auto link for timetable detail tag line."
## Kind (Required)

- Improvement

 ## Overview (Required)

Auto link for tag line
![image](https://user-images.githubusercontent.com/1386930/135245952-5a88ed21-4207-42f1-af90-0f0aae0c8d96.png)

 ## Links

-

[2021-09-29 09:55] takahirom opened #694 "Remove context args for composable function"
## Kind (Required)

- Improvement

 ## Overview (Required)

 - The details are here. (We can do this task after this PR merge.)
https://github.com/DroidKaigi/conference-app-2021/pull/676/files#r717297081

 ## Links

-

[2021-09-29 12:59] HironobuIga commented on #684
I recreated PR because there are many conflicts. I appreciate if you check new PR.
Sorry for inconvenience.

[2021-09-29 17:04] HironobuIga commented on #689
This issue depends on #684

[2021-09-29 17:22] HironobuIga commented on #692
I'd like to challenge :)

[2021-09-29 17:35] #684 closed

[2021-09-30 01:02] ry-itto opened #700 "[iOS] Notify when a favorite session is started"
## Kind (Required)

- Improvement

 ## Overview (Required)

- This is iOS side same feature as https://github.com/DroidKaigi/conference-app-2021/issues/625
- It can be implemented with Local Notification.

 ## Links

-

[2021-09-30 01:06] takahirom commented on #692
Thanks! Assigned 👍

[2021-09-30 01:09] #627 closed

[2021-09-30 11:25] #524 closed

[2021-10-01 01:30] #521 closed

[2021-10-01 09:40] takahirom commented on #626
@t-yusaku
This issue has a milestone date of 10/4. If you have any problems, please let me know! 🙏

[2021-10-01 09:40] takahirom commented on #625
@mune0903
This issue has a milestone date of 10/4. If you have any problems, please let me know! 🙏

[2021-10-01 09:40] takahirom commented on #622
@Aqua-ix
This issue has a milestone date of 10/4. If you have any problems, please let me know! 🙏

[2021-10-01 09:46] t-yusaku commented on #626
@takahirom
Sorry I'm late 💦
I'm working on this assignment now. Please give me a few more hours 🙇

[2021-10-01 09:51] Aqua-ix commented on #622
Thank you for following me. I'm sorry it took a long time to this issue.
Since this is my first time using Jetpack Compose, it took me a while to understand the code.

There is one thing I am wondering about.
I understand that I need to replace the feedItem, which is the argument of the FirstFeedItem called in the following location, with the data of the timetable, but I'm a little confused about

[2021-10-01 11:42] takahirom commented on #622
I think it would be a good idea to add a composable function like "DroidKaigi2021ArticleItem".
If it is difficult to implement in FeedList, how about adding a DroidKaigi2021ArticleItem that can be seen in Preview? 💭

I'm sure we can come up with the FeedList logic later.
I think some refactoring is needed to separate the items in FeedList. 👀

[2021-10-01 11:53] mune0903 commented on #625
@takahirom
I'm sorry I'm late🙇‍♂️
It's still being worked on. So could you please give me more time?

[2021-10-01 21:47] Aqua-ix commented on #622
Thank you for your advice.
I was able to display the article on the FeedScreen.

One of the problems at the moment is that it is difficult to implement the process of saving Favorite to DB with the current implementation.
Send a draft pull request once because the rest of the implementation task is just that favorite. I would appreciate it if you could take a look at the code and give me an idea.

[2021-10-02 04:13] #689 closed

[2021-10-02 04:36] #626 closed

[2021-10-03 02:21] #625 closed

[2021-10-03 02:50] takahirom opened #712 "Category icon is not applied in the timetable item detail"
## Kind (Required)

- Improvement

 ## Overview (Required)

- Currently, all timetable items have the icon "Other". Please debug and fix this.
- https://github.com/DroidKaigi/conference-app-2021/blob/main/uicomponent-compose/timetable2021/src/main/java/io/github/droidkaigi/feeder/timetable2021/TimetableDetailScreen.kt#L378

 ## Links

-

[2021-10-03 02:52] takahirom opened #713 "Can't click the date tab in the timetable"
## Kind (Required)

- Improvement

 ## Overview (Required)

-  The title says it all, can you fix it?

 ## Links

-

[2021-10-03 02:55] takahirom opened #714 "Language settings do not work."
## Kind (Required)
- Bug report (please use the other template)

 ## Overview (Required)

-  We can't save the Language settings in the DroidKaigi Android app
-

 ## Links

![check](https://user-images.githubusercontent.com/1386930/135737919-c2506266-0a47-487a-9b25-eef75dbb10ad.gif)
-